@media (max-width: 1450px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  .sect-mid-nav {
    grid-template-columns: 0.8fr 1fr;
  }
}

@media (max-width: 1050px) {
  .sect-mid-nav {
    grid-template-columns: 0.7fr 1fr;
  }
}

@media (max-width: 1000px) {
  .nav-slctvKit-select {
    display: none;
  }

  .sect-mid-nav {
    grid-template-columns: 1.1fr 1fr;
  }

  .sect-mid-contentContainer {
    padding: 2rem;
  }

  .ctnt-upload-row-5,
  .ctnt-upload-row-6 {
    justify-content: center;
    grid-template-columns: repeat(1, max-content);
    grid-template-rows: repeat(3, max-content);
  }

  .ctnt-subs,
  .ctnt-reminder,
  .ctnt-transcript,
  .ctnt-playlist,
  .ctnt-download {
    justify-self: end;
  }
}

@media (max-width: 950px) {
  .nav-sort,
  .searchBar-keywordBox {
    display: none;
  }

  .ctnt-upload {
    row-gap: 2rem;
  }

  .ctnt-upload-row-1 {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    row-gap: 2rem;
    justify-content: center;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 800px) {
  .srd-link-texts,
  .nav-cat_N_sort {
    display: none;
  }

  .bjenuine-text-mediaQuery {
    display: flex;
  }

  .bjenuine-text-header {
    display: none;
  }

  .sect-lft-dwn {
    align-content: center;
  }

  .srd-link-Icons {
    width: 25px;
  }

  .section-left {
    display: none;
  }

  .container {
    grid-template-columns: 6fr max-content;
  }
}

@media (max-width: 740px) {
  .sect-mid-nav {
    grid-template-columns: 3fr 1fr;
  }

  .searchBar-search-Icon {
    display: none;
  }

  .searchBar-InputField {
    width: 70%;
  }

  .bjenuine-text-mediaQuery {
    font-size: 20px;
    align-self: center;
  }
}
@media (max-width: 500px) {
  .section-right {
    display: none;
  }
}

@media (max-width: 450px) {
  .searchBar-InputField {
    display: grid;
  }
}
