<div
  class="updts-row-ctntcntnrs updts-cntnrType-{%UPDATE_UPDTS_AUTHORITY-LEVEL%}"
>
  <div class="updts-tp-ceo-head">
    <img
      src="{%UPDATE_UPDTS_ACC-IMG%}"
      height="30px"
      class="updts-tp-ceo-headImg"
    />
    <div class="updts-tp-ceo-heading">
      <h2 class="updts-tp-ceoText">{%UPDATE_UPDTS_RANK-TITLE%}</h2>
      <h2 class="updts-tp-ceo-name">{%UPDATE_UPDTS_ACC-NAME%}</h2>
    </div>

    <div class="updts-tp-ceo-pstDtls">
      <h2 class="updts-tp-ceo-pstDtls-day">{%UPDATE_UPDTS_TIME-DAY%}</h2>
      <h2 class="updts-tp-ceo-pstDtls-date">{%UPDATE_UPDTS_TIME-DATE%}</h2>
      <h2 class="updts-tp-ceo-pstDtls-time">
        <span>{%UPDATE_UPDTS_TIME-HOUR%} (24 hour clock)</span>
        <span>UHR</span>
        <span>/</span>
        <span>{%UPDATE_UPDTS_TIME-HOUR%} (meridian time a.m. / p.m.)</span>
        <span>:</span>
        <span>{%UPDATE_UPDTS_TIME-MINUTE%}</span>
        <span>{%UPDATE_UPDTS_TIME-MERIDIAN%}</span>
      </h2>
    </div>
  </div>
  <div class="updts-tp-ceo-msg">
    <h2 class="updts-tp-ceo-msgHeading">MESSAGE:</h2>
    <h4 class="updts-tp-ceo-msgParagraphs">{%UPDATE_UPDTS_MESSAGE%}</h4>
  </div>
</div>
