<section class="sect-mid-notification">
  <section class="ntfc-rows ntfc-row-1">
    <h3 class="notif-srchHeading">NOTIFICATION</h3>
    <input
      type="text"
      class="notif-srchInput"
      placeholder="Search For Notification"
    />
  </section>
  <section class="ntfc-rows ntfc-row-2">
    <img class="ntfc-catgs ntfc-catg-1" src="{%NOTIF_CATG_ICON_VID%}" />
    <img class="ntfc-catgs ntfc-catg-2" src="{%NOTIF_CATG_ICON_SHOP%}" />
    <img class="ntfc-catgs ntfc-catg-3" src="{%NOTIF_CATG_ICON_CATEGORY%}" />
    <img class="ntfc-catgs ntfc-catg-4" src="{%NOTIF_CATG_ICON_USER-ACCOUNT%}" />
  </section>
  <section class="ntfc-rows ntfc-row-3">
    <h2 class="ntfc-row3-heading">ALL NOTIFICATIONS</h2>
    <section class="ntfc-row3-ctntcntnr">
      <div class="ntfc-row-ctntcntnrs ntfc-cntnrType-vdo">
        {%NOTIF_CTNT_VDO-TEMP%}
      </div>

      <div class="ntfc-row-ctntcntnrs ntfc-cntnrType-cmnt">
        {%NOTIF_CTNT_CMNT-TEMP%}
      </div>
      <div class="ntfc-row-ctntcntnrs ntfc-cntnrType-likedCmnt">
        {%NOTIF_CTNT_LIKEDCMNT-TEMP%}
      </div>
      <div class="ntfc-row-ctntcntnrs ntfc-row-cntnrType-rply">
        {%NOTIF_CTNT_CMNT_REPLY-TEMP%}
      </div>
    </section>
  </section>
</section>

<section class="sect-mid-updates">
  <section class="updts-rows updts-row-1">
    <h3 class="updts-srchHeading">UPDATES</h3>
    <input type="text" class="updts-srchInput" placeholder="Search Updates" />
  </section>
  <h2 class="updts-rows updts-row-2">NEWS | UPDATES & ANNOUNCEMENTS</h2>
  <section class="updts-rows updts-row-3">
    <h2 class="updts-row3-heading">ALL UPDATES</h2>
    <section class="updts-row3-ctntcntnr">{%NOTIF_UPDT_MSG_TEMP%}</section>
  </section>
</section>
