<section class="sect-mid-vdoP-dtls">
  <img src="{%VDOPLY_CH-LOGO%}" class="sect-mid-vdoP-chLogo" />
  <div class="sect-mid-vdoP-name_N_subCount">
    <h4 class="vdoP-name">{%VDOPLY_CH-NAME%}</h4>
    <h5 class="vdoP-subsCount">
      <span>{%VDOPLY_CH-SUB_COUNT%}</span> Subscribers
    </h5>
  </div>
  <div class="sect-mid-vdo_subscribe">
    <button class="sect-mid-vdoP-subsBtn">Subscribe</button>
    <div class="sect-mid-vdoP-notify">
      <img
        src="imgs/Right Section/Notifications Icon.png"
        height="30px"
        class="sect-mid-vdoP-notify-icon"
      />
    </div>
  </div>
</section>

<section class="vdoPlayer-controls">
  <video controls="false" class="sect-mid-vdoPlayer-video">
    <source src="{%VDOPLY_VDO-CONTENT%}" type="video/mp4" />
  </video>

  <div class="vdo-ctrlPanel">
    <div class="vdo-bufferLine-container">
      <div class="vdo-bufferLine"></div>
    </div>
    <div class="video-controls">
      <button class="vdo-ctrls-item-1">
        <img
          class="vdo-ctrls-items vdo-item-backward"
          src="imgs/Middle Nav/svgs/rotate-left-solid.svg"
        />
      </button>
      <button class="vdo-ctrls-item-2">
        <img
          class="vdo-ctrls-items vdo-item-forward"
          src="imgs/Middle Nav/svgs/rotate-right-solid.svg"
        />
      </button>
      <button class="vdo-ctrls-item-3">
        <img
          class="vdo-ctrls-items vdo-item-play"
          src="imgs/Middle Nav/svgs/play-solid.svg"
        />
      </button>
      <button class="vdo-ctrls-item-4">
        <img
          class="vdo-ctrls-items vdo-item-volume"
          src="imgs/Middle Nav/svgs/volume-xmark-solid.svg"
        />
      </button>
      <button class="vdo-ctrls-item-5">
        <img
          class="vdo-ctrls-items vdo-item-cinemaMode"
          src="imgs/Middle Nav/svgs/film-solid.svg"
        />
      </button>
      <button class="vdo-ctrls-item-6">
        <img
          class="vdo-ctrls-items vdo-item-picInpic"
          src="imgs/Middle Nav/svgs/photo-film-solid.svg"
        />
      </button>
      <button class="vdo-ctrls-item-7">
        <img
          class="vdo-ctrls-items vdo-item-setting"
          src="imgs/Middle Nav/svgs/gear-solid.svg"
        />
      </button>
      <button class="vdo-ctrls-item-8">
        <img
          class="vdo-ctrls-items vdo-item-caption"
          src="imgs/Middle Nav/svgs/closed-captioning-solid.svg"
        />
      </button>
      <button class="vdo-ctrls-item-9">AutoPlay</button>
      <button class="vdo-ctrls-item-10">
        <img
          class="vdo-ctrls-items vdo-item-fullScreen"
          src="imgs/Middle Nav/svgs/up-right-and-down-left-from-center-solid.svg"
        />
      </button>
    </div>
  </div>
</section>

<section class="sect-mid-vdoP-title">
  <h2 class="sect-mid-ctntTitle">{%VDOPLY_VDO_TITLE%}</h2>
</section>
