extends ../base

block append head
  link(rel='stylesheet', href='/css/token.css')

block content
  section.sect-mid-contentContainer
    h1.token-heading-h1 GET YOUR TOKEN
    .tokens-container
      .token-cntnrs.token-cntnr-crown
        img.token-crown-img(src='/imgs/crown-token.png')
        h2.token-crown-h2 CROWN
        .token-features
          h3.token-features-lists.token-features-list-1
            | 1. FEATURE ONE
          h3.token-features-lists.token-features-list-2
            | 2. FEATURE TWO
          h3.token-features-lists.token-features-list-3
            | 3. FEATURE THREE
          h3.token-features-lists.token-features-list-4
            | 4. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 5. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 6. FEATURE FOUR
      .token-cntnrs.token-cntnr-diamond
        img.token-diamond-img(src='/imgs/diamond-token.png')
        h2.token-diamond-h2 DIAMOND
        .token-features.token-feature-diamond
          h3.token-features-lists.token-features-list-1
            | 1. FEATURE ONE
          h3.token-features-lists.token-features-list-2
            | 2. FEATURE TWO
          h3.token-features-lists.token-features-list-3
            | 3. FEATURE THREE
          h3.token-features-lists.token-features-list-4
            | 4. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 5. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 6. FEATURE FOUR
      .token-cntnrs.token-cntnr-platinum
        img.token-platinum-img(src='imgs/platinum-token.png')
        h2.token-platinum-h2 PLATINUM
        .token-features.token-feature-platinum
          h3.token-features-lists.token-features-list-1
            | 1. FEATURE ONE
          h3.token-features-lists.token-features-list-2
            | 2. FEATURE TWO
          h3.token-features-lists.token-features-list-3
            | 3. FEATURE THREE
          h3.token-features-lists.token-features-list-4
            | 4. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 5. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 6. FEATURE FOUR
      .token-cntnrs.token-cntnr-gold
        h2.token-gold-h2 GOLD
        .token-features.token-feature-gold
          h3.token-features-lists.token-features-list-1
            | 1. FEATURE ONE
          h3.token-features-lists.token-features-list-2
            | 2. FEATURE TWO
          h3.token-features-lists.token-features-list-3
            | 3. FEATURE THREE
          h3.token-features-lists.token-features-list-4
            | 4. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 5. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 6. FEATURE FOUR
      .token-cntnrs.token-cntnr-silver
        h2.token-silver-h2 SILVER
        .token-features.token-feature-silver
          h3.token-features-lists.token-features-list-1
            | 1. FEATURE ONE
          h3.token-features-lists.token-features-list-2
            | 2. FEATURE TWO
          h3.token-features-lists.token-features-list-3
            | 3. FEATURE THREE
          h3.token-features-lists.token-features-list-4
            | 4. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 5. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 6. FEATURE FOUR
      .token-cntnrs.token-cntnr-bronze
        h2.token-bronze-h2 BRONZE
        .token-features.token-feature-bronze
          h3.token-features-lists.token-features-list-1
            | 1. FEATURE ONE
          h3.token-features-lists.token-features-list-2
            | 2. FEATURE TWO
          h3.token-features-lists.token-features-list-3
            | 3. FEATURE THREE
          h3.token-features-lists.token-features-list-4
            | 4. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 5. FEATURE FOUR
          h3.token-features-lists.token-features-list-4
            | 6. FEATURE FOUR