<section class="sect-mid-videoPlayer">
    <section class="sect-mid-vdoP-c1">
      {%VDOPLY_COL1%}
    </section>
    <section class="sect-mid-vdoP-nav">
      <div class="sect-mid-vdoP-items sect-mid-vdoP-navLike">
        <img
          src="{%VDOPLY_VDONAV_ICON_LIKE%}"
          class="vdoPlayer-icon-imgs vdoP-likeIcon"
        />
      </div>
      <div class="sect-mid-vdoP-items sect-mid-vdoP-navDislike">
        <img
          src="{%VDOPLY_VDONAV_ICON_DISLIKE%}"
          class="vdoPlayer-icon-imgs vdoP-dislikeIcon"
        />
      </div>
      <div class="sect-mid-vdoP-items sect-mid-vdoP-navcmmnt">
        <img
          src="{%VDOPLY_VDONAV_ICON_COMMENT%}"
          class="vdoPlayer-icon-imgs vdoP-commentIcon"
        />
      </div>
      <div class="sect-mid-vdoP-items sect-mid-vdoP-navShare">
        <img
          src="{%VDOPLY_VDONAV_ICON_SHARE%}"
          class="vdoPlayer-icon-imgs vdoP-shareIcon"
        />
      </div>
      <div class="sect-mid-vdoP-items sect-mid-vdoP-navBookmark">
        <img
          src="{%VDOPLY_VDONAV_ICON_BOOKMARK%}"
          class="vdoPlayer-icon-imgs vdoP-bookmarkIcon"
        />
      </div>
      <div class="sect-mid-vdoP-items sect-mid-vdoP-navOpts">
        <img
          src="{%VDOPLY_VDONAV_ICON_OPTS%}"
          class="vdoPlayer-icon-imgs vdoP-optsIcon"
        />
      </div>
      <div class="sect-mid-vdoP-items sect-mid-vdoP-navAudio">
        <img
          src="{%VDOPLY_VDONAV_ICON_AUDIO%}"
          class="vdoPlayer-icon-imgs vdoP-audioIcon"
        />
      </div>
    </section>
  </section>
  <section class="sect-mid-ctntDtls_N_recom">
    <section class="sect-mid-ctntDtls">
      <section class="ctnt-des_sects_spnsr">
        <section class="ctnt-des-sect-spns-heading">
          <h4 class="ctnt-description-h4">Description</h4>
          <hr class="ctnt-desSectSpns-separator" />
          <h4 class="ctnt-sections-h4">Sections</h4>
          <hr class="ctnt-desSectSpns-separator" />
          <h4 class="ctnt-sponsors-h4">Sponsors</h4>
        </section>

        <hr class="head_N_des-separator" />

        <p class="ctnt-description"> {%VDOPLY_VDO_DESCRIPTION%} </p>
      </section>
      <section class="ctnt-comments">
        <section class="ctnt-cmmnt-analytics">
          <h4 class="ctnt-cmmnt-count">
            <span class="ctnt-cmmnts-text">Comments:</span>
            <span class="ctnt-cmmnts-amount"> {%VDOPLY_COMMENT-COUNT%} </span>
          </h4>
          <div class="ctnt-cmmnt-filter">
            <h4 class="ctnt-cmmnt-filter-h4">Filter:</h4>
            <button class="ctnt-cmmntFltr-date">Recent</button>
            <img
              src="{%VDOPLY_COMMENT-ICON_POPULARITY%}"
              width="20px"
              class="ctnt-cmmntFltr-popular"
            />
          </div>
        </section>
        <section class="ctnt-cmmnt-inputbox">
          <input
            type="text"
            placeholder="Enter Your Comment Here!"
            class="ctnt-cmmnt-inputField"
          />
        </section>
        <section class="ctnt-cmmnt-list">
          <div class="ctnt-cmmnt-listItems ctnt-cmmnt-listItem-1">
            <img
              class="ctnt-cmmnt-logo"
              src="{%VDOPLY_CMMNT-CH_LOGO%}"
              height="45px"
            />
            <div class="ctnt-cmmnt-dtls">
              <div class="ctnt-cmmnt-accDtls_N_opts">
                <div class="ctnt-cmmnt-accDetails">
                  <h4 class="cmmnt-accDtls">{%VDOPLY_CMMNT-CH_NAME%}</h4>
                  <h6 class="cmmnt-date">
                    <span class="ctnt-cmmntDate-day">{%VDOPLY_CMMNT-TIME-DAY%}</span> /
                    <span class="ctnt-cmmntDate-month">{%VDOPLY_CMMNT-TIME-MNTH%}</span> /
                    <span class="ctnt-cmmntDate-year">{%VDOPLY_CMMNT-TIME-YEAR%}</span>
                  </h6>
                </div>
                <div class="cmmnt-fltrs">
                  <img
                    src="{%VDOPLY_CMMNT-ICON_LIKE%}"
                    class="cmmnt-fltr-like"
                  />
                  <img
                    src="{%VDOPLY_CMMNT-ICON_DISLIKE%}"
                    class="cmmnt-fltr-dislike"
                  />
                  <img
                    src="{%VDOPLY_CMMNT-ICON_BOOKMARK%}"
                    class="cmmnt-fltr-bkmark"
                  />
                  <img
                    src="{%VDOPLY_CMMNT-ICON_OPTS%}"
                    class="cmmnt-fltr-menu"
                  />
                </div>
              </div>
              <h4 class="ctnt-cmmnt-textCmmnt">
                {%VDOPLY_CMMNT-TEXT%}
              </h4>
              <button class="ctnt-cmmnt-reply">Reply</button>
            </div>
          </div>
        </section>
      </section>
    </section>
    <section class="sect-mid-ctntRecom">
      <div class="content-containers content-container-{%VDOPLY_CH-VIDEO_INDEX%}">
        <section class="section-Header">
          <img
            src="{%VDOPLY_RECOM_CH-LOGO%}"
            class="sectionHead-chLogo"
          />
          <h3 class="sectionHead-chName">{%VDOPLY_RECOM_CH-NAME%}</h3>
          <img
            src="{%VDOPLY_RECOM_CH-VERIFIED%}"
            class="sectionHead-tick"
          />
        </section>

        <img
          src="{%VDOPLY_RECOM_THUMB%}"
          class="sectionHead-thumbNail"
        />

        <section class="section-details">
          <h4 class="section-details-title">
            {%VDOPLY_RECOM_TITLE%}
          </h4>
          <hr width="50px" />
          <div class="sectionHead-views_N_date">
            <h5 class="sectionHead-views">
              <span class="views">{%VDOPLY_RECOM_VIEWS%}</span> Views
            </h5>
            <h5 class="sectionHead-date">
              <span>{%VDOPLY_RECOM_TIME%}</span> ago
            </h5>
          </div>
        </section>
      </div>
    </section>
  </section>
</section>