<h1 class="sect-mid-heading">MARKETPLACE</h1>
<div class="mrktplc-btns_N_accDtls">
  <div class="mrktplc-btns">
    <button class="mrktplc-btn-sort">Sorting</button>
    <button class="mrktplc-btn-review">Reviews</button>
  </div>
  <div class="mrktplc-accDtls">
    <h4 class="mrktplc-merch-accName">{%MRKTPLC_MERCH_ACC-NAME%}</h4>
    <h4 class="mrktplc-merch-accRating">
      <span class="merch-accRating-amnt">{%MRKTPLC_MERCH_ACC-RATING%}</span>
      <span class="merch-accRating-star">⭐</span>
      <span class="merch-accRating-reviews"
        >(<span class="merch-accRating-rvwCnt"
          >{%MRKTPLC_MERCH_REVIEW-COUNT%}</span
        >
        <span class="merch-accRating-rvwTxt">Reviews</span>)</span
      >
    </h4>
  </div>
</div>
<div class="mrktplc-products-containerList">
  {%MARKETPLACE_PRODUCT_CONTAINER%}
</div>
