<div
  class="mrktplc-prdct-containers mrktplc-prdct-container-{%MRKTPLC_PRDCT_CNTNR_INDEX%}"
>
  <img class="mrktplc-prdct-thumb" src="{%MRKTPLC_PRDCT_THUMB%}" />
  <div class="mrktplc-prdct-details">
    <h4 class="mrktplc-prdct-name">{%MRKTPLC_PRDCT_NAME%}</h4>
    <h4 class="mrktplc-prdct-description">{%MRKTPLC_PRDCT_DESCRIPTION%}</h4>
  </div>
  <div class="mrktplc-prdct-btns">
    <button class="mrktplc-prdct-btn-specs">Specifications</button>
    <button class="mrktplc-prdct-btn-addToCart">
      <img
        src="{%MRKTPLC_PRDCT_ADD-TO-CARD%}"
        height="30px"
        class="mrktplc-prdctbtn-cartImg"
      />
      <!-- <h4>Add To Cart</h4> -->
    </button>
  </div>
</div>
