<img src="{%PLLST_PRVW_THUMB%}" class="pllstPrvw-thumb" />
<div class="pllstPrvw-head_N_des">
  <h4 class="pllstPrvw-title">{%PLLST_PRVW_TITLE%}</h4>
  <h5 class="pllstPrvw-description">{%PLLST_PRVW_DESCRIPTION%}</h5>
</div>
<div class="pllstPrvw-btns-list">
  <button class="pllstPrvw-btns pllstPrvw-btn-1">
    <h3>Shuffle</h3>
    <img src="{%PLLST_PRVW_ICON-SHFL%}" height="30px" />
  </button>
  <button class="pllstPrvw-btns pllstPrvw-btn-2">
    <h3>Play All</h3>
    <img src="{%PLLST_PRVW_ICON-PLAY%}" height="30px" />
  </button>
  <button class="pllstPrvw-btns pllstPrvw-btn-3">
    <h3>Partial Select</h3>
    <img src="{%PLLST_PRVW_ICON-PARTIALSLCT%}" height="30px" />
  </button>
</div>
