<div class="pllst-containers pllst-container-{%PLLST_LIST_INDEX%}">
  <img src="{%PLLST_CH-PLLST_THUMB%}" class="sect-mid-pllst-thumbnail" />
  <div class="sect-mid-container-pllstdtls">
    <h4 class="sect-mid-pllst-container-title">{%PLLST_CH-PLLST_TITLE%}</h4>
    <h5 class="sect-mid-cntnr-date">
      <span class="sect-mid-cntnrDate-day">{%PLLST_CH-PLLST_TIME-DAY%}</span>
      <span class="sect-mid-cntnrDate-mnth">{%PLLST_CH-PLLST_TIME-MONTH%}</span>
      <span class="sect-mid-cntnrDate-year">{%PLLST_CH-PLLST_TIME-YEAR%}</span>
    </h5>
    <button class="sect-mid-pllst-container-partialSlct">
      <h4 class="pllst-cntnr-prtlSlct-h4">Add To</h4>
      <img
        src="imgs/Middle Nav/svgs/Out-Box.svg"
        class="pllst-cntnr-prtlSlct-icon"
      />
    </button>
  </div>
</div>
