section#sect-1.section-left
  a(href="/") 
    h2.sect-lft-up.bjenuine-text-header BJenuine
  .sect-lft-dwn
    .sect-lft-dwn-links.sect-lft-dwn-link-1
      svg.srd-link-Icons.srd-link-lockIcon.icon.icon-lock-solid
        use(xlink:href='#icon-lock-solid')
          symbol#icon-lock-solid(viewBox='0 0 28 32')
            path(d='M9 9v3h10v-3c0-2.763-2.238-5-5-5s-5 2.237-5 5zM5 12v-3c0-4.969 4.031-9 9-9s9 4.031 9 9v3h1c2.206 0 4 1.794 4 4v12c0 2.206-1.794 4-4 4h-20c-2.206 0-4-1.794-4-4v-12c0-2.206 1.794-4 4-4h1z')
      h3.srd-link-texts.srd-link-lockText Lock Screen
    .sect-lft-dwn-links.sect-lft-dwn-link-2
      svg.srd-link-Icons.srd-link-movieIcon.icon.icon-clapperboard-solid
        use(xlink:href='#icon-clapperboard-solid')
          symbol#icon-clapperboard-solid(viewBox='0 0 32 32')
            path(d='M28 2h-5.381l-8 8h5.756l7.988-7.981c-0.119-0.013-0.238-0.019-0.363-0.019zM32 10v-4c0-0.944-0.331-1.819-0.875-2.5l-6.5 6.5h7.375zM18.381 2h-5.762l-8 8h5.756l8-8zM4 2c-2.206 0-4 1.794-4 4v4h0.381l8-8h-4.381zM32 12h-32v14c0 2.206 1.794 4 4 4h24c2.206 0 4-1.794 4-4v-14z')
      h3.srd-link-texts.srd-link-miniMovieText Mini Movies
    .sect-lft-dwn-links.sect-lft-dwn-link-3
      svg.srd-link-Icons.srd-link-playlistIconicon.icon.icon-list-solid
        use(xlink:href='#icon-list-solid')
          symbol#icon-list-solid(viewBox='0 0 32 32')
            path(d='M2.5 3c-0.831 0-1.5 0.669-1.5 1.5v3c0 0.831 0.669 1.5 1.5 1.5h3c0.831 0 1.5-0.669 1.5-1.5v-3c0-0.831-0.669-1.5-1.5-1.5h-3zM12 4c-1.106 0-2 0.894-2 2s0.894 2 2 2h18c1.106 0 2-0.894 2-2s-0.894-2-2-2h-18zM12 14c-1.106 0-2 0.894-2 2s0.894 2 2 2h18c1.106 0 2-0.894 2-2s-0.894-2-2-2h-18zM12 24c-1.106 0-2 0.894-2 2s0.894 2 2 2h18c1.106 0 2-0.894 2-2s-0.894-2-2-2h-18zM1 14.5v3c0 0.831 0.669 1.5 1.5 1.5h3c0.831 0 1.5-0.669 1.5-1.5v-3c0-0.831-0.669-1.5-1.5-1.5h-3c-0.831 0-1.5 0.669-1.5 1.5zM2.5 23c-0.831 0-1.5 0.669-1.5 1.5v3c0 0.831 0.669 1.5 1.5 1.5h3c0.831 0 1.5-0.669 1.5-1.5v-3c0-0.831-0.669-1.5-1.5-1.5h-3z')
      h3.srd-link-texts.srd-link-playlistText Playlist
    a(href="/channels") 
      .sect-lft-dwn-links.sect-lft-dwn-link-4
        svg.srd-link-Icons.srd-link-subsIcon.icon.icon-channel-icon
          use(xlink:href='#icon-channel-icon')
            symbol#icon-channel-icon(viewBox='0 0 40 32')
              path(d='M6 8c0-4.418 3.582-8 8-8s8 3.582 8 8v0c0 4.418-3.582 8-8 8s-8-3.582-8-8v0zM0 30.144c0-6.156 4.987-11.144 11.144-11.144h5.713c6.156 0 11.144 4.988 11.144 11.144 0 1.025-0.831 1.856-1.856 1.856h-24.288c-1.025 0-1.856-0.831-1.856-1.856zM38.081 32h-8.619c0.337-0.587 0.538-1.269 0.538-2v-0.5c0-3.794-1.694-7.2-4.363-9.488 0.15-0.006 0.294-0.012 0.444-0.012h3.837c5.569 0 10.081 4.512 10.081 10.081 0 1.063-0.862 1.919-1.919 1.919zM27 16c-1.938 0-3.688-0.787-4.956-2.056 1.231-1.662 1.956-3.719 1.956-5.944 0-1.675-0.413-3.256-1.144-4.644 1.163-0.85 2.594-1.356 4.144-1.356 3.869 0 7 3.131 7 7s-3.131 7-7 7z')
        h3.srd-link-texts.srd-link-subsText Channels
    .sect-lft-dwn-links.sect-lft-dwn-link-5
      svg.srd-link-Icons.srd-link-servicesIcon.icon.icon-service-solid
        use(xlink:href='#icon-service-solid')
          symbol#icon-service-solid(viewBox='0 0 40 32')
            path(d='M34 15.5v0.206l4.356-4.356c1.369-1.369 1.369-3.581 0-4.95l-4.881-4.875c-1.369-1.369-3.581-1.369-4.95 0l-2.506 2.506c-0.169-0.019-0.344-0.031-0.519-0.031h-7c-2.319 0-4.225 1.75-4.475 4h-0.025v7.5c0 1.381 1.119 2.5 2.5 2.5s2.5-1.119 2.5-2.5v-4.5c0 0 0-0.006 0-0.006v-0.994h9.5c0 0 0 0 0.006 0h0.494c2.762 0 5 2.238 5 5v0.5zM21 12v3.5c0 2.488-2.012 4.5-4.5 4.5s-4.5-2.012-4.5-4.5v-7.412c-2.244 0.387-4.112 2.019-4.75 4.263l-1.031 3.6-4.575 4.575c-1.369 1.369-1.369 3.581 0 4.95l4.881 4.881c1.369 1.369 3.581 1.369 4.95 0l2.356-2.356c0.056 0 0.113 0.006 0.169 0.006h10c1.656 0 3-1.344 3-3 0-0.35-0.063-0.688-0.169-1h0.169c1.656 0 3-1.344 3-3 0-0.8-0.313-1.525-0.825-2.063 1.606-0.313 2.819-1.725 2.825-3.425v-0.025c-0.006-1.925-1.569-3.487-3.5-3.487 0 0 0 0 0 0h-7.5z')
      h3.srd-link-texts.srd-link-servicesText Services
    .sect-lft-dwn-links.sect-lft-dwn-link-6
      svg.srd-link-Icons.srd-link-gemsIcon.icon.icon-gem-solid
        use(xlink:href='#icon-gem-solid')
          symbol#icon-gem-solid(viewBox='0 0 32 32')
            path(d='M7.294 2.112c0.281-0.381 0.731-0.613 1.206-0.613h15c0.475 0 0.925 0.225 1.206 0.613l7 9.5c0.425 0.575 0.381 1.369-0.094 1.9l-14.5 16c-0.281 0.313-0.688 0.494-1.113 0.494s-0.825-0.181-1.113-0.494l-14.5-16c-0.481-0.531-0.519-1.325-0.094-1.9l7-9.5zM9.7 4.6c-0.206 0.156-0.262 0.438-0.131 0.656l3.588 5.975-9.2 0.769c-0.256 0.019-0.456 0.238-0.456 0.5s0.2 0.475 0.456 0.5l12 1c0.025 0 0.056 0 0.081 0l12-1c0.256-0.019 0.456-0.238 0.456-0.5s-0.2-0.475-0.456-0.5l-9.194-0.762 3.587-5.975c0.131-0.219 0.075-0.506-0.131-0.656s-0.494-0.125-0.669 0.063l-5.631 6.094-5.631-6.1c-0.175-0.188-0.463-0.213-0.669-0.063z')
      h3.srd-link-texts.srd-link-gemsText Gems
    .sect-lft-dwn-links.sect-lft-dwn-link-7
      svg.srd-link-Icons.srd-link-storyIcon.icon.icon-feather-pointed-solid
        use(xlink:href='#icon-feather-pointed-solid')
          symbol#icon-feather-pointed-solid(viewBox='0 0 32 32')
            path(d='M17.406 13.475l-15.969 15.963c-0.588 0.587-0.588 1.538 0 2.119s1.538 0.587 2.119 0l4.675-4.675c0.463 0.288 0.956 0.512 1.488 0.656 2.8 0.762 7.156 0.869 11.406-1.95 0.762-0.506 0.363-1.587-0.55-1.587h-1.006c-0.319 0-0.575-0.256-0.575-0.575 0-0.256 0.169-0.475 0.406-0.55l6.106-1.831c0.212-0.063 0.4-0.194 0.525-0.381 0.275-0.4 0.538-0.806 0.788-1.225 0.387-0.644-0.094-1.438-0.844-1.438h-2.413c-0.319 0-0.575-0.256-0.575-0.575 0-0.256 0.169-0.475 0.406-0.55l5.056-1.519c0.288-0.088 0.525-0.3 0.637-0.581 1.819-4.588 2.65-9.394 2.906-12.475 0.050-0.619-0.188-1.225-0.625-1.663s-1.044-0.675-1.663-0.625c-5.238 0.425-15.425 2.519-21.119 8.213-5.006 5.006-5.044 10.669-4.131 14.050 0.131 0.494 0.75 0.6 1.112 0.238l10.281-10.275c0.387-0.387 1.025-0.387 1.413 0 0.337 0.338 0.381 0.85 0.137 1.238z')
      h3.srd-link-texts.srd-link-storyText Stories
    .sect-lft-dwn-links.sect-lft-dwn-link-8
      svg.srd-link-Icons.srd-link-settingsIcon.icon.icon-gear-solid
        use(xlink:href='#icon-gear-solid')
          symbol#icon-gear-solid(viewBox='0 0 32 32')
            path(d='M30.994 10.412c0.2 0.544 0.031 1.15-0.4 1.537l-2.706 2.463c0.069 0.519 0.106 1.050 0.106 1.588s-0.038 1.069-0.106 1.587l2.706 2.462c0.431 0.387 0.6 0.994 0.4 1.538-0.275 0.744-0.606 1.456-0.988 2.144l-0.294 0.506c-0.413 0.688-0.875 1.337-1.381 1.95-0.369 0.45-0.981 0.6-1.531 0.425l-3.481-1.106c-0.837 0.644-1.762 1.181-2.75 1.587l-0.781 3.569c-0.125 0.569-0.563 1.019-1.137 1.113-0.863 0.144-1.75 0.219-2.656 0.219s-1.794-0.075-2.656-0.219c-0.575-0.094-1.012-0.544-1.137-1.113l-0.781-3.569c-0.988-0.406-1.912-0.944-2.75-1.587l-3.475 1.113c-0.55 0.175-1.162 0.019-1.531-0.425-0.506-0.613-0.969-1.262-1.381-1.95l-0.294-0.506c-0.381-0.688-0.713-1.4-0.988-2.144-0.2-0.544-0.031-1.15 0.4-1.538l2.706-2.462c-0.069-0.525-0.106-1.056-0.106-1.594s0.037-1.069 0.106-1.588l-2.706-2.463c-0.431-0.387-0.6-0.994-0.4-1.537 0.275-0.744 0.606-1.456 0.987-2.144l0.294-0.506c0.413-0.688 0.875-1.338 1.381-1.95 0.369-0.45 0.981-0.6 1.531-0.425l3.481 1.106c0.838-0.644 1.762-1.181 2.75-1.587l0.781-3.569c0.125-0.569 0.563-1.019 1.137-1.113 0.863-0.15 1.75-0.225 2.656-0.225s1.794 0.075 2.656 0.219c0.575 0.094 1.012 0.544 1.137 1.113l0.781 3.569c0.988 0.406 1.913 0.944 2.75 1.588l3.481-1.106c0.55-0.175 1.163-0.019 1.531 0.425 0.506 0.612 0.969 1.263 1.381 1.95l0.294 0.506c0.381 0.688 0.712 1.4 0.988 2.144zM16 21c2.761 0 5-2.239 5-5s-2.239-5-5-5v0c-2.761 0-5 2.239-5 5s2.239 5 5 5v0z')
      h3.srd-link-texts.srd-link-settingsText Settings
