<section class="sectMid-content">
  <section class="sectMid-resultSorts">
    <div class="sortBtn-container">
      <h5 class="sortBtn-text">Sortings</h5>
    </div>
    <div class="keywords-container">
      <div class="keywords keyword-1">{%SEARCH_KEYWORDS_RECOM-TEMP%}</div>
    </div>
    <div class="content-types-container">
      <div class="contents-types content-type-1">Promotions</div>
      <div class="contents-types content-type-2">Suggestions</div>
      <div class="contents-types content-type-3">Top-Notched</div>
    </div>
  </section>
  <section class="sectMid-resultContent">{%SRCH_RESULT_CTNT-BOX-TEMP%}</section>
</section>
<section class="sectMid-contentPreview">
  {%SRCH_CTNT_PRVW-TEMP%}
  <section class="preview-channel-options">
    <div class="prevCh-opt-1">
      <button class="prevCh-playlist">Playlist</button>
      <button class="prevCh-bookmark">Bookmark</button>
    </div>
    <button class="prevCh-report">Report</button>
  </section>
</section>
