.sect-mid-nav {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0 !important;
  background-color: rgb(17, 17, 17);
  border-bottom: 1px solid rgb(34, 34, 34);

  /* border-bottom: 0.5px solid rgba(120, 120, 120, 0.2); */

  z-index: 1000 !important;
}

.searchBar-search-Icon {
  /* background-color: rgb(60, 60, 60, 0.2); */
  /* width: 1.4rem;
  height: 1.4rem; */
  filter: invert();
  align-self: center;
  cursor: pointer;
  /* padding: 1rem; */
  font-size: 1rem;
}

.nav-search {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.searchBar-container {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
}

.searchBar-InputField {
  width: 60%;
  height: 45px;
  font-weight: 600;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgb(23, 23, 23);
  border: 1px solid rgba(120, 120, 120, 0.098);
  box-shadow: 1px 1px 15px #00000022;
  /* background: transparent; */
  outline: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  transition: all 0.2s ease-in-out;
}

.searchBar-InputField:hover,
.searchBar-InputField:focus,
.searchBar-InputField:active {
  background: rgba(60, 60, 60, 0.2);
}

.searchBar-InputField[type='text'] {
  font-family: montserrat;
  font-weight: 800;
}

.searchBar-InputField::placeholder {
  font-weight: 600;
}

.searchBar-voiceSearch {
  display: none;
  align-self: center;
  filter: invert();
  /* padding-top: 5px; */
  height: 20px;
  /* filter: invert(); */
}

.nav-sort-length,
.nav-sort-date {
  height: 100%;
}

.nav-sort-length-img,
.nav-sort-date-img {
  height: 20px;
  filter: invert();
}

.nav-sort-length-img:hover,
.nav-sort-date-img:hover,
.category-bookmark-icon:hover,
.searchBar-voiceSearch:hover {
  cursor: pointer;
}

.bjenuine-text-mediaQuery {
  display: none;
  font-weight: 900;
}

.searchBar-keywordContainer {
  background-color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.searchBar-keywordBox {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  color: #202020;
}

.searchBar-keywords {
  color: #3c3c3c;
  font-size: 12px;
}
