.icon-clipz {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.sect-mid-contentContainer {
  display: grid;
  width: 100%;
  height: 100%;
  row-gap: 20px;
}

.content-containers {
  display: grid;
  grid-template-columns: max-content 27% 25rem;
  /* max-width: 100%; */
  height: 100%;
  justify-self: center;
  justify-content: center;
  column-gap: 10px;
  transform: scale(90%);
}

.section-ctnt-mover {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-self: flex-end;
  padding: 1rem;
}

.sect-ctntMover-up,
.sect-ctntMover-dwn {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  /* filter: invert(); */
}

.section-ctnt-details {
  display: grid;
  grid-template-rows: repeat(2, max-content);

  padding: 15px;
  padding-bottom: 0;
  row-gap: 10px;
  bottom: 0;
  width: 100%;
  /* aspect-ratio: 10 / 16; */
}

.sect-ctntDtls-ctntContainer {
  display: grid;
  grid-template-rows: 1fr;
  background-color: rgb(44, 44, 44, 0.3);
  border-radius: 10px;
  border: 1px solid rgb(120, 120, 120, 0.5);
  aspect-ratio: 11 / 16;
  padding: 15px;
  position: relative;
}

.sect-ctntDtls-head {
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
  column-gap: 20px;
  width: 100%;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.sect-ctntDtls-chImage {
  border-radius: 8px;
}

.sect-ctntDtls-chName_N_subCount {
  display: flex;
  flex-direction: column;
}

.sect-ctntDtls-chName {
  font-size: 1.2rem;
  font-weight: 800;
}

.sect-ctntDtls-subCount {
  font-size: 0.7rem;
  font-weight: 500;
}

.sect-ctntDtls-subsBtn {
  width: 6rem;
  height: 30px;
  justify-self: end;
  background-color: #f11000;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 800;
}

.sect-ctntDtls-vdoContainer {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-self: center;

  display: grid;
  grid-template-rows: 1fr;
  background-color: rgb(44, 44, 44, 0.3);
  border-radius: 10px;
  border: 1px solid rgb(120, 120, 120, 0.5);
  aspect-ratio: 9 / 16;
  padding: 15px;
  width: 100%;
  /* max-height: 97%; */
  position: relative;
}

.sect-mid-vdoPlayer-video {
  background-size: cover;
  align-self: center;
  justify-self: center;
  aspect-ratio: 9 / 16;
  /* transform: scale(2); */
  width: 100%;
}

.section-column-2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 1rem;
  padding: 1rem;
}

.sect-ctntDtls-vdoDtls {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  /* padding: 10px; */
  position: absolute;
  align-self: flex-end;
  padding: 40px;
  padding-bottom: 5px;
}

.vdo-bufferLine-container {
  display: flex;
  height: 8px;
  /* background-color: rgb(60, 60, 60, 0.3); */
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
}

.vdo-bufferLine {
  width: 80%;
  justify-self: center;
  height: 8px;
  border-radius: 10px;
  background-color: #f11000;
  z-index: 100000;
}

.video-controls {
  display: flex;
  column-gap: 1rem;
  padding: 1rem;
  background-color: rgb(60, 60, 60, 0.2);
  border-radius: 10px;
  border: 1px solid rgb(120, 120, 120, 0.2);
  justify-content: space-between;
  align-items: center;
}

.vdo-ctrls-items {
  display: flex;
  align-self: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.vdo-ctrls-items:hover {
  cursor: pointer;
}

.vdo-ctrls-icons {
  /* filter: invert(); */
  /* height: 20px; */
}

.section-ctnt-nav {
  display: flex;
  /* flex-direction: column; */
  height: max-content;
  /* row-gap: 5px; */
  padding: 10px;
  background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.5);
  border-radius: 10px;
  align-self: center;
  width: 100%;
  justify-content: space-evenly;
}

.sect-ctnt-nav-items {
  display: flex;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
}

.sect-ctnt-nav-icon {
  /* filter: invert(); */
  width: 20px;
}

.sect-ctnt-nav-items:hover {
  cursor: pointer;
  background-color: rgb(60, 60, 60, 0.5);
}

.sect-ctntDtls-vdoTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 20rem;
  -webkit-line-clamp: 6;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 2rem;
}
