* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
  color: #fff;
}

html {
  font-size: 16px;
}

body {
  background-color: #101010;
}

body::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.star {
  color: #ff0000;
}

.container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  width: 100%;
  /* padding-top: 2rem; */
}

.image-container {
  /* height: 100vh; */
  width: 100%;
  height: 100vh;
  background-image: url('https://begenone-images.s3.us-east-1.amazonaws.com/pixlr-image-generator-7e079823-dee3-4f15-8d4b-fdd6f09e1e5f.jpg');
  /* opacity: 0.2; */
  mix-blend-mode: hard-light;
  border: none;
  outline: none;
  transform: scale(101%);

  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */

  overflow: hidden;
}

/* .image-container::-webkit-scrollbar {
  display: none;
} */

.loginDtls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  height: 100vh;
  /* padding-top: 2rem; */
}

.headings {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.login-heading {
  font-size: 3rem;
  font-weight: 900;
}

.login-heading {
  font-size: 3rem;
  font-weight: 900;
}

.subheading-note {
  font-size: 0.6rem;
}

.login-form {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  flex-direction: column;
  row-gap: 1rem;
  padding: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.2s ease-in-out;
}

.signuptext-href {
  max-height: 1.5rem;
}

.signup-text {
  width: max-content;
  font-weight: 300;
}

.signup-text:hover {
  cursor: pointer;
}

.firstname,
.lastname,
.email,
.password,
.password-confirm {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.login-firstname,
.login-lastname,
.login-email,
.login-password,
.login-password-confirm {
  font-size: 1.5rem;
  font-weight: 800;
}

.login-firstname-input,
.login-lastname-input,
.login-email-input,
.login-password-input,
.login-password-confirm-input {
  max-width: 30rem;
  width: 20rem;
  height: 3rem;
  background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.3);
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.submit-form-btn {
  background-color: rgb(60, 60, 60, 0.1);
  height: 2.8rem;
  width: 100%;
  border: 1px solid rgb(120, 120, 120, 0.2);
  border-radius: 10px;
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
}

.login-firstname-input::placeholder,
.login-lastname-input::placeholder,
.login-email-input::placeholder,
.login-password-input::placeholder,
.login-password-confirm-input::placeholder {
  content: 'hello@yourdomain.com';
}
