@media (max-width: 1450px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1300px) {
  .keyword-4 {
    display: none;
  }

  .resultContent-box {
    display: grid;
    grid-template-columns: 40% 56%;
  }

  .preview-channel-details {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, max-content);
    row-gap: 10px;
  }

  .channelName_N_subsCount {
    grid-column: 2 / -1;
  }

  .prev-channelSubsContainer {
    grid-column: 1 / -1;
    justify-content: start;
  }

  /* .sect-mid-sorting-1,
  .sect-mid-sorting-2, */
  .sect-mid-sorting-3,
  .sect-mid-sorting-4,
  /* .sect-mid-sorting-5, */
  .sect-mid-sorting-6 {
    display: none;
  }

  .vdoPlayer-controls {
    grid-template-rows: 82% 18%;
  }

  .vdo-ctrlPanel {
    padding: 14px;
  }
}

@media (max-width: 1200px) {
  .keyword-3 {
    display: none;
  }
  .preview-channel-options {
    flex-direction: column;
    row-gap: 10px;
  }

  /* .sect-mid-nav {
    grid-template-columns: 1fr 1.5fr;
  } */
}

@media (max-width: 1150px) {
  .hr-date_N_views {
    display: none;
  }
  /* .sect-mid-nav {
    grid-template-columns: 2fr 1fr;
  } */
  .nav-sort {
    display: none;
  }

  .sect-mid-ctntDtls_N_recom {
    display: flex;
    flex-direction: column;
  }

  .vdoPlayer-controls {
    grid-template-rows: 80% 20%;
  }

  .vdo-ctrlPanel {
    padding: 14px;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 10px;
  }

  .hr-date_N_views {
    display: none;
  }

  .nav-category_n_bookmark {
    align-self: center;
  }

  .keyword-1,
  .keyword-2 {
    display: none;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  /* .section-left {
    grid-template-rows: 1fr;
    width: 80px;
  } */

  .srd-link-Icons {
    width: 25px;
  }

  .sectMid-contentPreview {
    display: none;
  }

  .sect-mid-searchContentContainer {
    grid-template-columns: 1fr;
  }

  /* .sect-mid-nav {
    grid-template-columns: 2fr 1fr;
  } */

  .sect-mid-sorting-1,
  .sect-mid-sorting-2,
  .sect-mid-sorting-5 {
    display: none;
  }

  .bjenuine-text-mediaQuery {
    display: flex;
  }

  .nav-cat_N_sort {
    display: none;
  }

  .nav-category_n_bookmark {
    display: none;
  }

  .srd-link-texts {
    display: none;
  }

  .bjenuine-text-header {
    display: none;
  }

  .sect-mid-vdoP-nav {
    margin: 0;
  }

  .vdoPlayer-controls {
    grid-template-rows: 78% 22%;
  }

  .vdo-ctrlPanel {
    padding: 14px;
  }
}

@media (max-width: 850px) {
  .vdo-ctrlPanel {
    /* height: 0.2rem; */
    padding: 12px;
    row-gap: 0.4rem;
    padding-bottom: 0;
  }

  .sect-mid-ctntTitle {
    font-size: 1.6rem;
    padding: 5px;
  }

  .vdoPlayer-controls {
    grid-template-rows: 78% 22%;
  }

  .vdo-ctrlPanel {
    padding: 12px;
  }
}

@media (max-width: 750px) {
  .sect-mid-vdoP-c1 {
    /* height: 0.2rem; */
    row-gap: 14px;
  }

  .vdoPlayer-controls {
    grid-template-rows: 75% 25%;
  }

  .vdo-ctrls-item-4,
  .vdo-ctrls-item-5,
  .vdo-ctrls-item-7 {
    display: none;
  }
}

@media (max-width: 700px) {
  .vdoPlayer-icon-imgs {
    width: 15px;
  }

  .srd-link-Icons {
    width: 20px;
  }

  /* .sect-rgt-icons-imgs {
    width: 15px;
  } */
}

@media (max-width: 650px) {
  .sect-mid-row-2 {
    grid-template-columns: 70px 1fr 1fr;
  }

  .section-right {
    width: 60px;
  }

  .sect-rgt-icon-1,
  .sect-rgt-icon-2,
  .sect-rgt-icon-3,
  .sect-rgt-icon-4,
  .sect-rgt-icon-5,
  .sect-rgt-icon-6 {
    display: flex;
    align-content: center;
    /* justify-items: center; */
    justify-content: center;
  }

  .sect-rgt-icons {
    width: 20px;
  }

  .sectMid-content {
    padding: 0;
  }

  .vdoPlayer-controls {
    grid-template-rows: 70% 30%;
  }

  .vdo-ctrlPanel {
    padding: 10px;
  }

  .srd-link-Icons {
    width: 20px;
  }
}

@media (max-width: 600px) {
  /* .vdoPlayer-controls {
    grid-template-rows: 68% 32%;
  } */

  .vdo-ctrlPanel {
    padding: 10px;
  }

  .vdoPlayer-icon-imgs {
    width: 10px;
  }
}

@media (max-width: 550px) {
  .vdoP-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 1.5rem;
    -webkit-line-clamp: 1;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13rem;
  }

  .sect-mid-videoPlayer {
    display: flex;
    flex-direction: column;
  }

  .sect-mid-vdoP-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .ctnt-des-sect-spns-heading {
    flex-direction: column;
  }

  .ctnt-desSectSpns-separator {
    display: none;
  }
}
