/* //////////////////////////////////////////// */

@keyframes glowing {
  0% {
    box-shadow:
      0 0 5px rgba(255, 255, 255, 0.3),
      0 0 10px rgba(255, 255, 255, 0.3),
      0 0 20px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow:
      0 0 5px rgba(255, 255, 255, 0.3),
      0 0 20px rgba(255, 255, 255, 0.3),
      0 0 30px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow:
      0 0 5px rgba(255, 255, 255, 0.3),
      0 0 10px rgba(255, 255, 255, 0.3),
      0 0 20px rgba(255, 255, 255, 0.3);
  }
}

.sect-mid-videoPlayer {
  display: grid;
  grid-template-columns: 65% max-content;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
  /* padding-left: 80px; */
}

.sect-mid-vdoP-c1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-left: 80px; */
  /* align-items: center; */
  row-gap: 1rem;
}

.sect-mid-vdoP-chLogo {
  width: 45px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
}

.sect-mid-vdoP-notify-icon {
  font-size: 25px;
}

.sect-mid-vdo-meta {
  display: flex;
  justify-content: start;
  column-gap: 1rem;
  width: 100%;
}

.sect-mid-vdo-time,
.sect-mid-vdo-views {
  display: flex;
  /* width: 100%; */
  justify-self: start;
  font-size: 0.825rem;
  font-weight: 500;
  letter-spacing: 2px;
  /* margin-top: -0.5rem; */
}

.sect-mid-vdoP-dtls {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  column-gap: 20px;
  align-self: start;
  width: 100%;
}

.sect-mid-vdoP-content {
  width: 100%;
}

.vdoPlayer-controls {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 80% 20%; */
  width: 100%;
  height: 100%;
  position: relative;
  /* animation: glowing 1.5s infinite; */
  box-shadow: 0px 0px 100px #ffffff34;
  /* border: 1px solid #fff; */
  /* border-radius: 10px; */
  /* z-index: ; */
}

.sect-mid-vdoPlayer-video {
  max-width: 100%;
}

.vdo-ctrlPanel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  grid-row: 2 / -1;
  background-color: rgb(32, 32, 32, 0.9);

  /* display: grid; */
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 5px;
  row-gap: 10px;

  width: 100%;
  height: 100%;
  justify-self: center;
  column-gap: 20px;
  padding: 1.25rem;

  z-index: 100;
  transition: all 1s ease-out;
}

.vdo-ctrlPanel .fullscreen {
  opacity: 1;
}

.video-controls {
  display: grid;
  /* grid-template-columns: repeat(8, max-content) 1fr max-content; */
  grid-template-columns: repeat(4, max-content) 1fr max-content;
  column-gap: 10px;
  /* width: 100%; */
  justify-content: start;
  z-index: 20;
}

.vdo-ctrls-item-9 {
  color: #fff;
  font-weight: 900;
  margin-right: 10px;
}

.vdo-ctrls-item-10,
.vdo-ctrls-item-9 {
  justify-self: end;
}

.vdo-ctrls-items {
  font-size: 1.25rem;
}

.vdo-item-play {
  display: flex;
}

.vdo-item-pause {
  display: none;
}

.video-controls button {
  background-color: transparent;
  padding: 5px;
  border: none;
  border-radius: 2px;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  align-self: start;
  /* filter: invert(); */
}

.vdo-ctrls-item-5,
.vdo-ctrls-item-6,
.vdo-ctrls-item-7,
.vdo-ctrls-item-8 {
  display: none;
}

.vdo-ctrls-item-9 {
  width: 6rem !important;
}

/* .vdo-ctrls-item-1 {
   height: 1.125rem; 
} */

.vdo-bufferLine-container {
  position: absolute;
  grid-row: 2 / 3;
  max-height: 8px;
  background-color: rgb(120, 120, 120, 0.5);
  grid-column: 1 / -1;
  width: 100%;
}

.vdo-bufferLine {
  justify-self: start;
  border-radius: 0px;
  width: 0;
  height: 5px;
  background-color: red;
  width: 100%;

  /* position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: red; */
}

.sect-mid-vdo_subscribe {
  display: flex;
  column-gap: 20px;
  justify-self: end;
  align-items: center;
}

.sect-mid-vdoP-subsBtn {
  width: 7.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid rgb(120, 120, 120, 0.3);
  color: #fff;
  font-weight: 800;
  border-radius: 7px;
  outline: none;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.sect-mid-vdoP-subsBtn-done,
.sect-mid-vdoP-subsBtn--analytics {
  width: 9rem;
  height: 2.5rem;
  background-color: rgba(194, 194, 194, 0.1);
  border: 1px solid rgb(120, 120, 120, 0.3);
  color: #fff;
  font-weight: 800;
  border-radius: 7px;
  outline: none;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.sect-mid-vdoP-subsBtn:hover {
  cursor: pointer;
  box-shadow: 0px 3px 7px #000;
  background-color: #f10000;
}

.sect-mid-vdoP-subsBtn-done:hover,
.sect-mid-vdoP-subsBtn--analytics:hover {
  cursor: pointer;
  box-shadow: 0px 3px 7px #000;
}

.sect-mid-vdoP-notify:hover {
  cursor: pointer;
  /* background-color: rgb(60, 60, 60, 0.5); */
}

.chList-chnl-img {
  height: 4rem;
}

.vdoP-name {
  font-size: 1.1rem;
  font-weight: 800;
}

.vdoP-subsCount {
  font-size: 0.825rem;
  font-weight: 500;
}

.vdoP-subsCount span {
  font-weight: 800;
}

.sect-mid-vdoP-name_N_subCount {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.sect-mid-vdoP-name_N_subCount a {
  display: flex;
  flex-direction: column;
  /* row-gap: 0.3rem; */
}

.sect-mid-vdoP-nav {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: end;
  align-self: center;
  align-items: center;
  border: 1px solid rgb(71, 71, 71, 0.3);
  border-radius: 10px;
  height: max-content;
  width: max-content;
  padding: 0.4rem;
  /* margin-bottom: 5.625rem; */
  transition: all 0.2s ease-in-out;
}

.sect-mid-vdoP-nav:hover {
  background-color: rgba(61, 61, 61, 0.2);
}

.sect-mid-vdoP-items {
  display: flex;
  flex-direction: column;
  padding: 0.825rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  align-items: center;
}

.sect-mid-vdoP-navLike,
.sect-mid-vdoP-navDislike {
  padding-bottom: 0.4rem;
}

.sect-mid-vdoP-nav:hover .sect-mid-vdoP-items {
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.5);
}

.sect-mid-vdoP-items:hover {
  background-color: rgba(84, 84, 84, 0.5) !important;
}

.vdoPlayer-icon-imgs {
  font-size: 1rem;
  /* filter: invert(); */
}

/* .vdoP-shareIcon,
.sect-mid-vdoP-navAudio {
  filter: invert();
} */

.sect-mid-vdoP-title {
  /* padding-right: 2rem;
  padding-left: 2rem; */
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.sect-mid-ctntTitle {
  font-size: 2rem;
  /* font-family: lexend; */
  letter-spacing: 1.2px;
  font-weight: 400;
  justify-self: start !important;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 10rem;
  -webkit-line-clamp: 3;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.likesCount,
.dislikesCount {
  font-size: 0.7rem;
  font-weight: 400;
  padding-top: 0.5rem;
}

/* ////////////////////////////////////// sect-mid-ctntDtls /////////////////////////////////// */
.sect-mid-ctntDtls_N_recom {
  display: grid;
  grid-template-columns: 65% max-content;
  width: 90%;
  flex-wrap: nowrap;
  padding: 25px;
  justify-self: center;
}

.sect-mid-ctntDtls {
  display: flex;
  flex-direction: column;
}

.ctnt-des_sects_spnsr {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  /* flex-direction: column; */
  width: 100%;
  /* background-color: rgb(60, 60, 60, 0.3); */
  border: 1px solid rgb(120, 120, 120, 0.2);
  border-radius: 10px;
  padding: 20px;
  row-gap: 20px;
  transition: all 0.2s ease-in-out;
}
.ctnt-des_sects_spnsr:hover {
  background-color: rgba(61, 61, 61, 0.2);
}

.ctnt-des-sect-spns-heading {
  display: flex;
  justify-content: space-around;
  /* padding: 20px; */
}

.ctnt-des-sect-spns-heading h4 {
  font-weight: 900;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
}

.ctnt-desSectSpns-separator {
  width: 1px;
  height: 20px;
  background-color: rgb(120, 120, 120, 0.5);
  align-self: center;
}

.head_N_des-separator {
  width: 95%;
  height: 1px;
  justify-self: center;
  background-color: rgb(120, 120, 120, 0.5);
  border: rgb(120, 120, 120, 0.5);
}

.ctnt-description {
  padding: 20px;
  padding-top: 0;
  line-height: 1.8;
}

.ctnt-sects {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  width: 100%;
}

.ctnt-sect-items {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-width: 180px;
}

.ctnt-sect-thumb {
  width: 100%;
}

.ctnt-sect-name {
  font-size: 1rem;
}

.ctnt-sect-duration {
  font-weight: 500;
}

/* //////////////////////////////////// ctnt-comments ///////////////////////////////// */
.ctnt-comments {
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 10px;
}

.ctnt-cmmnt-analytics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ctnt-cmmnt-count {
  display: flex;
  column-gap: 10px;
  padding: 10px;
}

.ctnt-cmmnts-text {
  font-weight: 500;
}

.ctnt-cmmnts-amount,
.ctnt-cmmnt-filter-h4 {
  font-weight: 800;
}

.ctnt-cmmnt-filter {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.ctnt-cmmntFltr-date {
  padding: 10px;
  background-color: #fff;
  color: #202020;
  font-weight: 800;
  border: 1px solid #787878;
  border-radius: 5px;
  outline: none;
}

.ctnt-cmmntFltr-popular {
  font-size: 23px;
}

.ctnt-cmmnt-inputbox {
  width: 100%;
}

.ctnt-cmmnt-inputField {
  display: flex;
  width: 100%;
  column-gap: 2rem;
  /* background-color: #2c2c2c2c; */
  outline: none;
  /* border: 1px solid #787878; */
}

#commentInput {
  height: 100%;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background-color: transparent;
  font-weight: 500;
  border: 1px solid #fff;
}

/* #commentInput:focus,
#commentInput:active {
  outline: 1px solid #00ccff;
  border: 1px solid #00ccff;
} */

#commentBtn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 7rem;
  height: 2.5rem;
  font-weight: 700;
  align-self: center;
  justify-self: center;
  transition: all 0.2s ease-in-out;
}

#commentBtn:hover {
  cursor: pointer;
  background-color: #00ca2c;
  border: 1px solid #00ca2c;
  color: #fff;
}

.ctnt-cmmnt-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  row-gap: 40px;
}

.ctnt-cmmnt-listItems {
  display: flex;
  column-gap: 20px;
  width: 100%;
}

.ctnt-cmmnt-logo {
  border-radius: 8px;
}

.ctnt-cmmnt-dtls {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

.ctnt-cmmnt-accDtls_N_opts {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px;
}

.ctnt-cmmnt-accDetails {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.cmmnt-accDtls {
  font-size: 1.1rem;
  letter-spacing: 1.3px;
}

.cmmnt-date {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1.3px;
}

.cmmnt-fltrs {
  display: flex;
  column-gap: 20px;
  justify-self: end;
  align-items: center;
}

.cmmnt-fltrs img {
  font-size: 15px;
}

.ctnt-cmmnt-textCmmnt {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}

.ctnt-cmmnt-reply {
  background-color: rgb(60, 60, 60, 0.3);
  padding: 5px;
  max-width: 60px;
  border: 1px solid rgb(120, 120, 120, 0.5);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 0.7rem;
}

/* ////////////////////////////////////// RECOMMNEDATIONS ////////////////////////////////// */
.sect-mid-ctntRecom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-right: 0;
  padding-left: 40px;
  row-gap: 40px;
}

/* //////////////////////////////////////////// PLYR VIDEO PLAYER /////////////////////////////// */
.plyr__control span {
  font-family: montserrat;
  color: #202020;
  font-weight: 500;
}

:root {
  --plyr-color-main: red;
}

.plyr__menu__value span {
  --plyr-video-control-color: #fff;
}
