@media (max-width: 1350px) {
  .vdoPlayer-controls {
    grid-template-rows: 80% 20%;
  }
}

@media (max-width: 1280px) {
  /* .nav-cat_N_sort {
    flex-direction: column;
    text-align: start;
    align-items: center;
    } */

  .sect-mid-nav {
    grid-template-columns: 0.8fr 1fr max-content;
  }

  .vdoPlayer-controls {
    grid-template-rows: 75% 25%;
  }

  html .sect-mid-searchContentContainer {
    font-size: 10px;
  }
}

@media (max-width: 1200px) {
  .content-title {
    font-size: 1.6rem;
  }

  .content-description {
    font-size: 0.75rem;
  }

  .channel-name {
    font-size: 0.85rem;
  }

  .channel-logo {
    max-height: 2rem;
  }

  .date_N_views h4,
  .date_N_views-2 h4 {
    font-weight: 400;
    font-size: 0.825rem;
  }
}

@media (max-width: 1050px) {
  .sect-mid-nav {
    grid-template-columns: 0.7fr 1fr max-content;
  }

  .vdoPlayer-controls {
    grid-template-rows: 70% 30%;
  }

  .sect-mid-ctntTitle {
    font-size: 1.5rem;
    padding: 10px;
  }

  .sect-mid-ctntDtls_N_recom {
    flex-direction: column;
  }

  .sect-mid-vdoP-nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    justify-self: center;
  }

  .vdo-ctrls-item-5,
  .vdo-ctrls-item-6,
  .vdo-ctrls-item-8 {
    display: none;
  }

  .sect-mid-videoPlayer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
  }

  .ctnt-des-sect-spns-heading h4 {
    font-size: 0.825rem;
    padding: 0.2rem;
  }

  /* .sect-mid-searchContentContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  } */

  .sectMid-resultContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 100%; */
  }

  .content-title {
    font-size: 1rem;
  }

  .title_N_description {
    row-gap: 1.4rem;
  }

  .content-description {
    display: none;
  }

  .resultContent-box {
    display: flex;
    flex-direction: column;
    max-width: 230px;
  }

  .channel-logo {
    max-height: 1.5rem;
  }

  .channel_details {
    padding-bottom: 1.4rem;
  }

  .date_N_views {
    display: none;
  }

  .date_N_views-2 {
    display: flex;
    padding-left: 0;
  }
}

@media (max-width: 1000px) {
  .nav-slctvKit-select {
    display: none;
  }

  .sect-mid-nav {
    grid-template-columns: 1.1fr 1fr max-content;
  }

  .sect-mid-ctntTitle {
    font-size: 1.2rem;
    padding: 10px;
  }

  .sect-mid-vdoP-notify {
    display: none;
  }

  .featuredVideo {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    justify-self: center;
    row-gap: 2rem;
    max-height: 25rem !important;
  }
}

@media (max-width: 950px) {
  .nav-sort,
  .searchBar-keywordBox {
    display: none;
  }
}

@media (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: max-content 1fr 6rem;
  }

  .srd-link-texts,
  .nav-cat_N_sort {
    display: none;
  }

  .sect-mid-nav {
    /* grid-template-columns: 0.8fr 2fr max-content; */
    grid-template-columns: 1fr max-content;
  }

  .bjenuine-text-header {
    display: none;
  }

  .bjenuine-text-header-1 {
    display: flex;
  }

  .section-left {
    display: none;
  }

  .sect-lft-dwn {
    display: none;
    align-content: center;
  }

  .srd-link-Icons {
    width: 25px;
  }

  .ctnt-cmmnt-analytics {
    display: flex;
    flex-direction: column;
    align-self: start;
  }

  .ctnt-cmmnt-count {
    padding-left: 0;
    padding-right: 0;
    justify-items: start;
  }

  .cmmnt-fltrs img {
    font-size: 15px;
  }

  .ctnt-cmmnt-textCmmnt {
    font-size: 0.75rem;
  }
}

@media (max-width: 750px) {
  /* .searchBar-InputField {
    width: 70%;
  } */

  .sect-mid-nav {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1fr max-content;
    padding: 1.4rem;
    padding-top: 1rem;
  }

  .bjenuine-text-mediaQuery {
    display: flex;
    grid-row: 1 / 2 !important;
    grid-column: 1/-1 !important;
    max-width: 10rem;
  }

  .searchBar-container {
    /* width: 80%; */
    grid-row: 2 / -1;
    grid-column: 1 / 3;
  }

  .sect-head-icon-settings {
    grid-row: 2/-1;
    grid-column: 4/-1;
    justify-self: center;
  }

  .sect-mid-contentContainer {
    padding: 0.8rem;
  }

  .searchBar-InputField {
    height: 2.8rem;
    width: 80%;
  }
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  .section-middle {
    grid-template-columns: 2 / -1;
  }

  .sect-mid-videoPlayer {
    /* grid-template-rows: repeat(2, max-content); */
    row-gap: 20px;
  }

  .vdoPlayer-controls {
    grid-template-rows: 75% 25%;
  }

  .vdo-ctrlPanel {
    padding: 1rem;
  }

  .section-middle {
    width: 100%;
  }

  .section-bottom {
    /* display: grid; */
    height: max-content;
    /* align-self: flex-end; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #242424;
    border-top: 1px solid rgb(120, 120, 120, 1);
    border-right: none;
    border-left: none;
    width: 1fr;

    z-index: 999999999999999;
  }

  .srd-link-texts {
    display: none;
  }

  .sect-lft-dwn {
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
  }

  .sect-lft-dwn-links {
    column-gap: 10px;
    padding: 10px;
  }

  .sect-lft-dwn-link-1,
  .sect-lft-dwn-link-3,
  .sect-lft-dwn-link-6 {
    display: none;
  }

  .sect-head-icon-settings {
    display: flex;
  }

  .section-right {
    display: none;
  }

  .srd-link-Icons {
    font-size: 15px;
  }

  .sect-mid-ctntDtls_N_recom {
    flex-direction: column;
    padding: 0;
    padding-top: 20px;
  }

  .ctnt-description {
    padding: 10px;
    font-size: 0.825rem;
  }

  .sect-mid-vdoP-nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    justify-self: center;
  }

  .sect-mid-ctntTitle {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .vdoP-name {
    font-size: 1rem;
  }

  .vdoP-subsCount {
    font-size: 0.5rem;
  }

  .sect-mid-vdoP-dtls {
    grid-template-columns: max-content max-content max-content;
  }

  .ctnt-cmmnt-count {
    padding-left: 0;
  }

  .video-controls {
    display: flex;
  }

  .sect-mid-ctntRecom {
    padding-left: 0;
  }

  .sect-notification-panel {
    grid-column: 1/2;
  }

  .nav-search {
    row-gap: 5px;
  }
}

@media (max-width: 550px) {
  .sect-mid-nav {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
  }
}

@media (max-width: 450px) {
  .ctnt-des-sect-spns-heading h4 {
    font-size: 0.75rem;
    padding: 0.2rem;
  }

  /* .searchBar-InputField {
    width: 50%;
  } */

  .searchBar-voiceSearch {
    display: none;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }

  .pricing-feature-item {
    column-gap: 2rem;
  }
}
