* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
  color: #fff;
}

/* //////////////////////////////// */
/* .section-left,
.section-bottom {
  display: grid;
  grid-template-rows: max-content 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid rgb(120, 120, 120, 0.5);

  overflow-y: hidden;
  height: 100vh;
  top: 0;
  position: sticky;
} */

.section-bottom {
  display: none;
}

.sect-left-main {
  display: none;
}

.sect-lft-up {
  display: flex;
  justify-self: start;
  align-self: center;
  padding-left: 20px;
  font-weight: 900;
  cursor: pointer;
}

.sect-lft-dwn {
  display: flex;
  flex-direction: column;
  /* row-gap: 2rem; */
  padding: 1rem;
  justify-content: start;
  overflow-y: scroll;
  margin-right: 5px;
}

.sect-lft-dwn::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  border-radius: 10px;
}

.sect-lft-dwn::-webkit-scrollbar-thumb {
  background-color: #fff;
  padding: 2px;
  border-radius: 10px;
}

.srd-link-Icons {
  font-size: 23px;
  filter: invert();
}

.srd-link-lockIcon {
  width: 18px;
}

.srd-link-texts {
  font-size: 16px;
  padding: 1rem;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.srd-link-texts:hover {
  background-color: rgb(60, 60, 60, 0.3);
  cursor: pointer;
}

.srd-link-texts-apps,
.srd-link-texts-lock,
.srd-link-texts-themes,
.srd-link-texts-language {
  opacity: 30% !important;
}

.srd-link-texts-apps:hover,
.srd-link-texts-lock:hover,
.srd-link-texts-themes:hover,
.srd-link-texts-language:hover {
  cursor: no-drop !important;
  opacity: 30%;
}

.bjenuine-text-header {
  font-size: 24px;
}

/* ///////////////////////////////////////////// */
.pricing-heading-image {
  max-width: 8rem;
  height: auto;
  padding-left: 2rem;
}

.sect-mid-contentContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    rgb(35, 35, 35, 0.6),
    rgb(15, 15, 15, 0.6),
    rgb(35, 35, 35, 0.6),
    rgb(15, 15, 15, 0.6)
  );
  /* backdrop-filter: blur(15px); */
  border: 1px solid #303030;
  /* background-image: url('https://img.freepik.com/premium-photo/minimalist-angel-blue-color-abstract-background-sleek-elegant-designs_851755-373921.jpg'); */

  border: 1px solid #303030;
  box-shadow:
    inset 0px 0px 20px rgb(48, 48, 48, 0.3),
    0px 0px 10px rgb(32, 32, 32, 0.3);
  width: 100%;
  padding: 20px;
  row-gap: 10px;
  padding: 2rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  transform: scale(95%);
}

.userActiveStatusCheckContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.userActiveStatus-h1 {
  font-family: poppins;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: #ff1900;
}

.userReverifyLinkBtn {
  font-family: poppins;
  font-weight: 600;
  letter-spacing: 2px;
  height: 2.4rem;
  width: max-content;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(18, 18, 18, 0.5);
  outline: none;
  border: 1px solid #3939397c;
  border-radius: 5px;

  color: rgb(0, 255, 0);

  transition: all 0.2s ease-in-out;
}

.userReverifyLinkBtn:hover {
  cursor: pointer;
  background-color: rgba(30, 30, 30);
  transform: scale(101%);
}

.pricing-heading-h1 {
  /* background-color: rgb(28, 28, 28, 0.5); */
  font-family: poppins;
  font-size: 2.5rem;
  text-align: start;
  line-height: 3.5rem;
  font-weight: 600;
  letter-spacing: 5px;
  /* padding: 5rem; */
  padding-left: 0rem;
  padding-right: 0rem;
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  padding-bottom: 2rem;
  margin-left: 2rem;

  max-width: 50rem;
}

.sect-mid-nav {
  grid-template-columns: max-content 1fr max-content;
}

.container {
  display: grid;
  grid-template-columns: 1fr max-content;
  row-gap: 1rem;
}

.bjenuine-text-header-link,
.bjenuine-text-header-1 {
  display: flex;
}

.section-right {
  margin-right: 1rem;
}

.pricing-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: start;
  padding: 2rem;
  row-gap: 4rem;
  column-gap: 2rem;
  width: 100%;
}

.pricing-cntnrs,
.pricing-in_depth-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: max-content;
  width: 100%;
  row-gap: 1rem;
  column-gap: 1rem;
}

.pricing-cntnrs {
  justify-self: center;
}

.pricing-in_depth-details {
  max-width: 100%;
}

.pricing-crown-img {
  height: 100%;
  max-height: 8rem;
  width: 9rem;
}

.pricing-crown-h2,
.pricing-diamond-h2,
.pricing-platinum-h2,
.pricing-gold-h2,
.pricing-silver-h2,
.pricing-ea-h2,
.pricing-ea-details-h2 {
  font-size: 1.8rem;
  font-weight: 900;
}

.pricing-ea-details-h2-indepth {
  font-size: 4rem;
  /* background-image: url(); */
  font-weight: 600;
  letter-spacing: 5px;
  padding-left: 2rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
  text-align: center;
}

.pricing-ea-h2-span {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
}

/* .pricing-crown-h2 {
  color: #f5bd02;
}

.pricing-diamond-h2 {
  color: #6b64e8;
}

.pricing-platinum-h2 {
  color: #e5e4e2;
}

.pricing-gold-h2 {
  color: #d4af37;
}

.pricing-silver-h2 {
  color: #657084;
} */

.pricing-ea-h2 {
  color: #fff;
}

.pricing-features,
.pricing-features-details,
.pricing-features-details-indepth {
  display: flex;
  flex-direction: column;
  justify-items: start;
  width: 100%;
  background-color: rgb(35, 35, 35, 0.5);
  border: 1px solid rgb(255, 153, 0);
  /* box-shadow: outset 0px 0px 20px rgb(132, 66, 0); */
  border-radius: 1rem;
  padding: 1.2rem;
  row-gap: 2rem;
}

.pricing-features {
  row-gap: 1rem;
  padding: 1.2rem;
  border: 2px solid rgb(255, 153, 0);
  background: linear-gradient(
    135deg,
    rgb(35, 35, 35, 0.5),
    rgb(20, 20, 20, 0.5)
  );
  box-shadow: inset 0px 0px 15px rgb(15, 15, 15, 1);
}

.pricing-features-details,
.pricing-features-details-indepth {
  row-gap: 1.5rem;
  border: 2px solid rgb(255, 153, 0);
  box-shadow:
    inset 0px 0px 15px rgb(15, 15, 15, 1),
    0px 0px 15px rgb(30, 30, 30, 1);
}

.pricing-feature-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.8rem;
  background-color: #252525;
  border-radius: 8px;
}

.pricing-features-lists {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  width: 100%;
  font-family: poppins;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  /* text-shadow: 0px 1px 1px rgba(18, 18, 18, 0.8); */
}

.available-pricing {
  color: #04ff00;
}

.almost_here-pricing {
  color: #c8ff00;
}

.coming_soon-pricing {
  color: #ffcc00;
}

.pricing-price {
  display: flex;
  font-family: poppins;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  row-gap: 0.5rem;
  letter-spacing: 2px;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgb(10, 10, 10, 0.5),
    rgb(35, 35, 35, 0.5)
  );
  /* background: linear-gradient(180deg, rgb(255, 179, 0), rgb(255, 123, 0)); */
  box-shadow: inset 0px 0px 15px rgb(15, 15, 15, 1);
  text-shadow: 0px 1px 3px #1d1d1d;
  border: 2px solid rgb(255, 153, 0);
  border-radius: 1rem;
  padding: 1rem;
}

.pricing-checkout-button {
  display: flex;
  column-gap: 1rem;
  text-shadow: 0px 1px 5px #1d1d1d;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background: linear-gradient(135deg, rgb(255, 149, 0), rgb(255, 98, 0));
  color: #fff;
  /* background-color: rgb(35, 35, 35, 0.5); */
  outline: none;
  border: none;
  border-radius: 0.8rem;

  font-family: poppins;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 3px;
  transition: all 0.3s ease-in-out;
}

.pricing-checkout-button:hover {
  /* background: linear-gradient(145deg, rgb(255, 161, 0), rgb(255, 150, 0)); */
  border-radius: 5rem;
  cursor: pointer;
  scale: 95%;
}

.new-pricing {
  width: max-content;
  font-weight: 700;
  font-size: 2rem;
  text-shadow:
    0px 1px 10px rgb(255, 150, 0),
    0px 1px 10px rgb(255, 150, 0);
  /* 0px 1px 10px rgb(255, 150, 0, 0.5); */
  letter-spacing: 8px;
}

.new-pricing-time-span {
  text-shadow: none;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.pfd-h2 {
  font-family: poppins;
  font-weight: 600;
  letter-spacing: 3px;
}

.pfd-h2-indepth {
  font-family: poppins;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 3px;
  padding-left: 2rem;
  padding-top: 2rem;
}

.pricing-features-details-indepth {
  background: linear-gradient(
    135deg,
    rgb(40, 40, 40, 1),
    rgb(26, 26, 26, 0.5),
    rgb(40, 40, 40, 1)
  );
}

.pfd-spans,
.pfd-indepth {
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 2px;
}

.pfd-h1 {
  /* background: #353535; */
  font-family: poppins;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 3px;
  align-self: center;
}

.pfd-p {
  font-family: poppins;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2px;
}

.pfd-p b {
  color: #04ff00;
}

.pfd-indepth {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
}

.pfd-p-span {
  font-style: italic;
}

/* .indepth-div {
  display: grid;
  grid-template-columns: 35% 65%;
  column-gap: 1rem;
 } */
.indepth-div {
  display: flex;
  gap: 1rem;
}

.indepth-div > :first-child {
  flex: 0 0 35%; /* 35% width for the first column */
}

.indepth-div > :nth-child(2) {
  flex: 0 0 65%; /* 65% width for the second column */
}

.hr-pfd-indepth {
  border: 1px solid rgb(120, 120, 120, 0.3);
  width: 100%;
}

/* .pricing-feature-diamond {
  border: 4px solid #6b64e8;
}

.pricing-feature-platinum {
  border: 4px solid #e5e4e2;
}

.pricing-feature-gold {
  border: 4px solid #d4af37;
}

.pricing-feature-silver {
  border: 4px solid #657084;
}

.pricing-feature-ea {
  border: 4px solid #e06f00;
} */

.overview-banner-container {
  width: 100%;
  margin-top: 1rem;
  transform: scale(95%);
  border: none;
  outline: none;
}

.overview-banner-image {
  width: 100%;
  border-radius: 1rem;
}
