@media (max-width: 1200px) {
  .sect-mid-contentContainer {
    margin-top: -9rem;
  }

  .pricing-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .nav-slctKit_pricing-text {
    font-size: 0.6rem;
  }
}

@media (max-width: 800px) {
  .indepth-div {
    flex-wrap: wrap;
  }

  .indepth-div > :first-child {
    flex: 0 0 100%; /* 35% width for the first column */
  }

  .indepth-div > :nth-child(2) {
    flex: 0 0 100%; /* 65% width for the second column */
  }
}

@media (max-width: 700px) {
  .buttons-submit_logout {
    flex-direction: column !important;
  }

  .pricing-features-lists {
    column-gap: 1rem;
  }
}

@media (max-width: 550px) {
  .pricing-ea-details-h2-indepth {
    font-size: 2rem;
    padding-left: 0;
    padding-right: 0;
  }

  .pricing-features-lists {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(2, max-content);
    width: max-content;
  }

  .pricing-features-lists .available-pricing {
    grid-row: 2/-1;
  }

  .sect-mid-nav {
    grid-template-columns: 1fr max-content;
  }

  .pricing-heading-h1 {
    margin: 0;
    font-size: 1.8rem;
  }

  .pfd-h2-indepth {
    padding: 0.7rem;
    font-size: 1.6rem;
  }

  .pfd-indepth {
    padding-top: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .pricing-container {
    padding: 0;
  }
}

@media (max-width: 400px) {
  .pricing-feature-item {
    column-gap: 2rem;
  }
}
