.sect-left-main {
  display: flex;

  overflow-y: hidden;
  height: 100vh;
  top: 0;
  position: sticky;
}

.section-left-col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  padding: 0.6rem;
  padding-top: 1.2rem;
  border-right: 1px solid rgb(120, 120, 120, 0.3);
  /* border: 1px solid rgb(120, 120, 120, 0.3); */
  /* background-color: rgb(60, 60, 60, 0.2); */
  background-color: rgb(32, 32, 32, 0.2);
  /* margin: 0.5rem; */
}

.sect-left-col1-featured {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.sect-left-col1-featured img {
  height: 2rem;
  width: 2rem;
  border-radius: 6px;
  cursor: pointer;
  /* border: 0.5px solid rgb(120, 120, 120, 0.2); */
  transition: all 0.2s ease-in-out;
}

.sect-left-col1-featured img:hover {
  transform: scale(115%);
}

.section-left {
  display: grid;
  grid-template-rows: 60px 1fr;
  padding-top: 20px;
  padding-bottom: 20px;

  /* background-color: rgba(61, 61, 61, 0.3); */

  border-right: 1px solid #7878783c;
  transition: all 0.2s ease-in-out;
}

.section-left:hover {
  background: rgba(61, 61, 61, 0.2);
}

.section-bottom {
  display: grid;
  grid-template-rows: 60px 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
  /* justify-content: center; */
  /* align-items: start; */
  background-color: rgba(61, 61, 61, 0.3);
  border-right: 1px solid #787878;

  overflow-y: hidden;
  height: 100vh;
  top: 0;
  position: sticky;
}

.section-bottom {
  display: none;
}

.sect-lft-up {
  display: flex;
  justify-self: start;
  align-self: center;
  padding-left: 20px;
  font-weight: 900;
  cursor: pointer;
}

.sect-lft-dwn {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}

.section-left:hover .sect-lft-dwn-links {
  cursor: pointer;
  /* background-color: rgba(51, 51, 51, 0.5); */
}

.sect-lft-dwn-links {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}

.sect-lft-dwn-links:hover {
  background-color: rgba(51, 51, 51, 0.5) !important;
}

.srd-link-Icons {
  font-size: 20px;
  /* filter: invert(); */
}

.srd-link-lockIcon {
  width: 18px;
}

.srd-link-texts {
  font-size: 16px;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

.srd-link-texts:hover {
  background-color: rgb(60, 60, 60, 0.3);
  cursor: pointer;
}

.srd-link-texts-settings {
  font-weight: 800;
}

.bjenuine-text-header {
  font-size: 24px;
}

.section-bottom {
  display: none;
  overflow-y: hidden;
  height: max-content;
  width: 100vw;
  bottom: 0;
  position: sticky;

  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(61, 61, 61, 0.3);
  border-right: 1px solid #787878;
}
