* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
  color: #fff;
}

html {
  font-size: 16px;
  overflow: hidden;
}

body {
  background-color: #0b0b0b;
}

body::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.star {
  color: #ff0000;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content:; */
  row-gap: 2rem;
  border: 1px solid #303030;
  border-radius: 1rem;
  /* padding: 1rem; */
  width: 100%;
  background-color: #101010;
  transform: scale(85%);

  /* padding-top: 2rem; */
}

/* body::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(60, 60, 60, 0.3);
} */

/* body::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #fff;
  border-radius: 10px;
} */

.image-container {
  /* width: 100%;
  height: 100vh;
  background-image: url('https://begenone-images.s3.us-east-1.amazonaws.com/pixlr-image-generator-7e079823-dee3-4f15-8d4b-fdd6f09e1e5f.jpg');
  mix-blend-mode: hard-light;
  border: none;
  outline: none;
  transform: scale(101%);

  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 

  overflow: hidden; */

  /* height: 100vh; */
  width: 100%;
  height: 100vh;
  justify-items: start;
  background-image: url('https://begenone-images.s3.us-east-1.amazonaws.com/pixlr-image-generator-7e079823-dee3-4f15-8d4b-fdd6f09e1e5f.jpg');
  /* opacity: 0.2; */
  background-color: #656565;
  mix-blend-mode: color-dodge;
  border: none;
  outline: none;
  transform: scale(95%);
  /* padding: 1rem; */
  opacity: 0.6;

  border-radius: 1rem;

  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */

  overflow: hidden;
}

/* .image-container::-webkit-scrollbar {
  display: none;
} */

.signupDtls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 3rem;
  height: 100vh;
}

.headings {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.signup-heading {
  font-size: 3rem;
  font-weight: 900;
}

.signup-subHeading {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}

.subheading-note {
  font-size: 0.6rem;
}

.signup-form {
  /* display: grid;
  grid-template-rows: repeat(6, 6.5rem) max-content 6.5rem;
  flex-direction: column;
  row-gap: 1rem;
  padding: 5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  justify-self: end;
  margin-bottom: 3rem;
  border-radius: 1rem;
  border-left: 1px solid rgb(120, 120, 120, 0.3);
  overflow-y: scroll;
  background-color: rgb(60, 60, 60, 0.2); */
  display: grid;
  grid-template-rows: repeat(4, max-content);
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 5rem;
  padding-top: 0;
  padding-bottom: 5rem;
  overflow-y: scroll;
  transition: all 0.2s ease-in-out;
}

.signup-form::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(60, 60, 60, 0.3);
}

.signup-form::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #fff;
  border-radius: 10px;
}

.signup-anchor {
  text-decoration: none;
}

.signup-text {
  font-weight: 300;
}

.firstname,
.lastname,
.email,
.password,
.password-confirm,
.username {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.signup-firstname,
.signup-lastname,
.signup-email,
.signup-password,
.signup-password-confirm,
.signup-username {
  font-family: poppins;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.signup-firstname-input,
.signup-lastname-input,
.signup-email-input,
.signup-password-input,
.signup-password-confirm-input,
.username-input {
  /* max-width: 30rem;
  width: 20rem;
  height: 3rem;
  background-color: rgb(60, 60, 60, 0.1);
  border: 1px solid rgb(120, 120, 120, 0.3);
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 1rem;
  padding-right: 1rem; */

  max-width: 30rem;
  width: 22rem;
  height: 2.8rem;
  background-color: rgb(30, 30, 30, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.3);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.submit-form-btn {
  background-color: rgb(60, 60, 60, 0.1);
  height: 2.7rem;
  width: 100%;
  border: 1px solid rgb(35, 35, 35, 0.2);
  /* border: none; */
  border-radius: 0.4rem;
  font-weight: 800;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
}

.submit-form-btn:hover {
  background-color: rgb(35, 35, 35, 1);
  /* border: none; */
}

@media (max-width: 400px) {
  .container {
    transform: scale(90%);
  }
}

@media (max-width: 350px) {
  .container {
    transform: scale(80%);
  }
}
