* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  color: #fff;
}

body {
  /* background-color: #0d0d0d; */
  background-color: rgb(17, 17, 17);
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #0d0d0d;
}

body::-webkit-scrollbar-track {
  margin: 10px;
}

body::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #fff;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

/* General Styling for the Slim Notice Bar */
.notice-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  width: 100%;
  background: linear-gradient(135deg, #343331, #151312);
  color: white;
  font-family: 'Poppins', serif; /* Elegant font choice */
  font-size: 13px;
  font-weight: 700;
  padding: 8px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #ffa71989;
  /* border-radius: 5px; */
  /* position: fixed;
  top: 0; */
  left: 0;
  z-index: 10000000;
  animation: fadeIn 0.6s ease-out;
  text-align: center;
  backdrop-filter: blur(15px);
  overflow: hidden;
}

.important-notice-span {
  color: #f39c12;
}

.notice-message {
  padding-right: 15px;
}

/* Gradient Color Grading for Text */
.notice-bar span {
  background: -webkit-linear-gradient(45deg, #ff7e5f, #feb47b, #ff6a00);
  -webkit-background-clip: text;
  color: transparent;
  animation: glow 2s ease-in-out infinite alternate;
}

/* Hover effect for the button */
.notice-bar .close-btn:hover {
  background-color: #f39c12;
  transform: translateY(-50%) scale(1.1);
}

/* Responsive Design */
@media (max-width: 600px) {
  .notice-bar {
    font-size: 14px;
    padding: 6px 15px;
  }

  .notice-bar .close-btn {
    font-size: 18px;
  }
}

.learn-more-notice {
  font-size: 12px;
  background: #ff8b17;
  padding: 5px;
  border-radius: 5px;
}

/* ////////////////////////////////////// LOADER */
/* Full-screen container with background blur and gradient */
.intro-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    145deg,
    rgba(20, 20, 20, 0.8),
    rgba(10, 10, 10, 0.9)
  ); /* Rich gradient background */
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* animation: fadeIn 0.8s ease-out; Smooth fade-in effect */
}

/* Introduction message box with elegant shadow and soft transparency */
.intro-screen .message {
  background: #181818; /* Soft white overlay */
  padding: 40px 60px;
  border-radius: 20px;
  text-align: center;
  max-width: 600px;
  width: 90%;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3); /* Deep shadow for a 3D effect */
  backdrop-filter: blur(25px); /* Elegant blurred background behind content */

  color: #fff;
  font-family: 'Poppins', sans-serif; /* Elegant and modern font */
  border: 1px solid rgba(59, 59, 59, 0.2);
  transform: scale(1.05); /* Slight scale for an elegant effect */
}

/* Heading: Bold with a radiant glow and text animation */
.intro-screen h1 {
  font-size: 1.6em;
  font-weight: 700;
  /* color: #ffcc00; Vibrant gold color */
  /* text-transform: uppercase; */
  letter-spacing: 5px;
  /* margin-bottom: 25px; */
  animation: glow 2s ease-in-out infinite alternate; /* Continuous glow effect */
}

.begenone-h2 {
  font-family: poppins;
  font-weight: 900;
  color: #f39c12;
  font-size: 3.8rem;
  text-shadow: 2px 3px 15px #0000005c;
}

/* Smooth paragraph text with elegant color grading */
.intro-screen p {
  font-size: 1.3em;
  color: #e0e0e0; /* Soft light grey */
  margin-bottom: 40px;
  line-height: 1.5;
  font-weight: 300;
}

/* Button: Elegant with gradient and hover effects */
.intro-screen button {
  height: 3rem;
  width: 10rem;
  font-size: 1.2em;
  background: linear-gradient(
    45deg,
    #ff5722,
    #ff9800
  ); /* Rich orange gradient */
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); /* Shadow to add depth */
  outline: none;
}

.intro-screen button:hover {
  transform: scale(1.1); /* Slight zoom-in on hover */
  background: linear-gradient(
    45deg,
    #ff9800,
    #ff5722
  ); /* Reverse gradient on hover */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); /* Hover shadow for more depth */
  filter: brightness(1.2); /* Slight brightness effect */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .intro-screen .message {
    width: 95%;
    padding: 25px 40px;
  }

  .intro-screen h1 {
    font-size: 2.2em;
  }

  .intro-screen p {
    font-size: 1.1em;
  }

  .intro-screen button {
    font-size: 1.2em;
    padding: 12px 35px;
  }
}

/* //////////////////////////////// */

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-lock-solid {
  width: 0.875em;
}

/* //////////////////////////////// */

.container {
  display: grid;
  grid-template-columns: max-content 6fr 0.5fr;
  position: relative;
}

/* ///////////////////////////////// SECTION MIDDLE /////////////////////////////////// */

.section-middle {
  display: flex;
  flex-direction: column;
}

/* ///////////////////////////////////// nav-category_n_bookmark ////////////////////////////////// */

.nav-cat_N_sort {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.nav-cat-kit_n_bookmark,
.nav-slctvKit {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  height: max-content;
}

.category-select,
.nav-slctvKit-select {
  display: flex;
  height: 40px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  background: #fff;
  column-gap: 15px;
  align-items: center;
  filter: opacity(30%);
}

.nav-slctvKit-select {
  border: transparent;
  transition: all 0.2s ease-in-out;
  background-color: #202020;
  border: 1px solid rgb(120, 120, 120, 0.3);
}

.nav-slctvKit-select:hover {
  background-color: rgb(60, 60, 60, 0.3);
  /* border: 1px solid rgb(120, 120, 120, 0.5); */
}

.category-select:hover,
.nav-slctvKit-select:hover {
  cursor: no-drop;
}

.category-select-text,
.nav-slctvKit-select-text {
  color: #202020;
  font-family: Lexend Giga;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.nav-slctvKit-select-text {
  color: #fff;
}

.category-select-dwnIcon,
.nav-slctvKit-select-dwnIcon {
  align-self: center;
  /* padding-top: 4px; */
  height: 20px;
}

.category-select-dwnIcon-cat {
  filter: invert();
}

.nav-slctvKit-bookmark-icon {
  /* filter: invert(); */
  display: none;
  height: 20px;
}

.sect-rgt-icon-list-container-responsive {
  display: none !important;
}
/* .category-bookmark-icon {
} */

.nav-slctvKit-bookmark-icon:hover {
  cursor: pointer;
}

.nav-sort {
  display: flex;
  column-gap: 30px;
  justify-self: end;
  padding-right: 30px;
  height: max-content;
  align-items: center;
}

.nav-sort-age {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.age-toggleContainer {
  display: flex;
  width: 60px;
  height: 25px;
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
}

.ageToggler {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  margin-left: 5px;
  background-color: #3c3c3c;
}

/* //////////////////////////////// sect-mid-contentContainer ////////////////////////////////////////// */

/* .sect-mid-contentContainer {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  padding: 20px;
} */

/* //////////////////////////////// sect-mid-contentContainer ////////////////////////////////////////// */

.sect-mid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.sect-midHead-heading {
  font-size: 2rem;
  font-weight: 900;
}

.sect-midHead-chCatgs {
  display: flex;
  height: 100%;
  column-gap: 10px;
  align-items: center;
}

.sect-midHead-chCatgs button {
  font-size: 0.8rem;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 15px;
}

.sect-midHead-chCatgs button:hover {
  background-color: rgb(60, 60, 60, 0.3);
  cursor: pointer;
}

.sect-midHead-chCatgs-hr {
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  width: 3px;
}

.chCatgs-moreOptsIcon {
  display: none;
  height: 2rem;
  filter: invert();
}

.sect-mid-chList {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  overflow-x: scroll;
  /* padding: 10px; */
  margin: 1rem;
  column-gap: 20px;
  min-height: 3rem;
}

.sect-mid-chList::-webkit-scrollbar {
  height: 7px;
  background-color: #212121;
}

.sect-mid-chList::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.chList-channels {
  display: flex;
  height: 100%;
  background-color: rgba(60, 60, 60, 0.3);
  /* border: 0.5px solid rgb(120, 120, 120, 0.2); */
  padding: 0.3rem;
  border-radius: 10px;
}

.chList-channels:hover {
  cursor: pointer;
}

.chList-chnl-img {
  height: 3rem;
  border-radius: 8px;
}

.sect-mid-chSlctd {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-height: 12rem; */
}

.chSlctd-row-1 {
  width: 100%;
  height: 10rem;
}

.chSlctd-row1-banner {
  width: 100%;
  height: 100%;
  /* height: 100%; */
  /* min-height: 8rem;
  max-height: 8.0001rem; */
}

.chSlctd-row-2 {
  display: flex;
  /* grid-template-columns: repeat(2, max-content) 1fr; */
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  width: 100%;
}

.chSlctd-row2-chImg {
  height: 4rem;
  border-radius: 8px;
  align-self: center;
}

.chSltd-row2-chDtls {
  display: flex;
  column-gap: 20px;
  padding: 20px;
  background-color: rgb(35, 35, 35, 0.6);
  border: 1px solid rgb(120, 120, 120, 0.5);
  border-radius: 10px;
  margin-top: -40px;
  justify-self: center;
}

.chSltd-chDtls-Nm_N_subCnt {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.chSltd-chDtls-unChkd-content {
  font-size: 0.8rem;
}

.chSltd-chDtls-chName {
  font-size: 1.5rem;
  font-weight: 800;
}

.chSltd-chDtls-subCount {
  font-size: 0.8rem;
  font-weight: 600;
}

.chDtls-unchkdAmnt {
  color: #ff4040;
}

.chSltd-row2-chOpenBtn {
  height: 2.5rem;
  width: 10rem;
  background-color: transparent;
  border: 1px solid rgb(120, 120, 120, 0.5);
  border-radius: 10px;
  justify-self: end;
  transition: all 0.1s ease-in-out;
  font-weight: 600;
}
.chSltd-row2-chOpenBtn:hover {
  background-color: rgba(51, 51, 51, 0.5);
}

.chSltd-row2-chOpenBtn:hover {
  background-color: rgb(60, 60, 60, 0.5);
  cursor: pointer;
}

/* ///////////////////////////////////////////////////////// */

.chSlctd-row-3 {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  row-gap: 40px;
  justify-content: center;
  column-gap: 20px;
}

/* .content-containers {
  display: flex;
  flex-direction: column;
  max-width: 16rem;
  border-radius: 10px;
  padding: 0.65rem;
  row-gap: 10px;
  cursor: pointer;
  border: transparent;
  transition: all 0.2s ease-in-out;
} */

/* .content-containers:hover {
  padding: 0.825rem;
  background-color: rgba(51, 51, 51, 0.4);
  border: 1px solid rgb(71, 71, 71, 0.4);
} */

.section-Header {
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
  align-items: center;
}

.sectionHead-chLogo {
  height: 30px;
}

.sectionHead-chName {
  font-size: 14px;
}

.sectionHead-tick {
  height: 20px;
}

/* .sectionHead-thumbNail {
} */

.section-details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.section-details-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 4.4rem;
  -webkit-line-clamp: 2;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-weight: 500;
}

.sectionHead-views,
.sectionHead-date {
  font-weight: 400;
}

.sectionHead-views_N_date {
  display: flex;
  column-gap: 25px;
  justify-content: start;
}
