.sect-mid-contentContainer {
  display: flex;
  padding: 2.4rem;
  justify-content: center;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
}

.content-containers {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  /* max-height: 450px; */
  height: 100%;
  row-gap: 10px;
  padding: 0.825rem;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgb(71, 71, 71, 0.2);
}

.content-containers:hover {
  /* background-color: rgba(26, 26, 26, 0.4); */
  background-color: rgba(39, 39, 39, 0.3);
  border: 1px solid rgba(71, 71, 71, 0);
  transform: translateY(-0.1rem);
  box-shadow: 1px 1px 5px rgba(9, 9, 9, 0.07);
}

.sectionHead-dtls {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sectionHead-chName_N_sub {
  display: flex;
  flex-direction: column;
}

.sectionHead-chName {
  font-size: 0.9rem;
  font-weight: 700;
  font-family: lexend;
}

.sectionHead-chSubCnt {
  font-size: 0.7rem;
  font-weight: 400;
}

.sectionHead-tick {
  height: 20px;
}

.sectionHead-thumbNail {
  aspect-ratio: 16 / 9;
  background-size: contain;
  border-radius: 8px;
}

.section-details {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.section-details-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 4.4rem;
  -webkit-line-clamp: 2;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1rem;
  font-weight: 300;
}

.sectionHead-views {
  font-size: 0.75rem;
  font-weight: 200;
}

.views {
  font-weight: 500;
}

.sectionHead-date {
  font-size: 0.75rem;
  font-weight: 500;
}

.sectionHead-views_N_date {
  display: flex;
  column-gap: 25px;
  justify-content: space-between;
}

/* //////////////////////////////////// */

.section-Header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  width: 100%;
  justify-content: start;
  column-gap: 20px;
  align-items: center;
}

.sectionHead-chLogo {
  max-height: 2rem;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
}

.sectionHead-chName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 1.5rem;
  -webkit-line-clamp: 1;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 800;
  font-family: montserrat;
  max-width: 100%;
}

.sectionHead-tick {
  height: 20px;
  justify-self: end;
}

.sectionHead-thumbNail {
  border-radius: 10px;
}

.section-details {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.section-details-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 4.4rem;
  -webkit-line-clamp: 2;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.sectionHead-views,
.sectionHead-date {
  font-size: 0.8rem;
  font-weight: 400;
}

.sectionHead-views_N_date {
  display: flex;
  column-gap: 25px;
  justify-content: start;
}
