<section class="section-ctnt-mover">
  <img
    class="sect-ctntMover-up"
    src="imgs/Middle Nav/up-solid.svg"
    height="30px"
  />
  <img
    class="sect-ctntMover-dwn"
    src="imgs/Middle Nav/down-solid.svg"
    height="30px"
  />
</section>
<section class="section-ctnt-details">
  <section class="sect-ctntDtls-head">
    <img
      src="{%MINIMS_CH-IMAGE%}"
      height="30px"
      class="sect-ctntDtls-chImage"
    />
    <div class="sect-ctntDtls-chName_N_subCount">
      <h4 class="sect-ctntDtls-chName">{%MINIMS_CH-NAME%}</h4>
      <h4 class="sect-ctntDtls-subCount">
        <span>{%MINIMS_CH_SUB-COUNT%}</span> Subscribers
      </h4>
    </div>
    <button class="sect-ctntDtls-subsBtn">Subscribe</button>
  </section>
  <section class="sect-ctntDtls-ctntContainer">
    <section class="sect-ctntDtls-vdoContainer">
      <video class="sect-mid-vdoPlayer-video">
        <source src="{%MINIMS_VIDPLY-VIDEO%}" type="video/mp4" />
      </video>
      <section class="sect-ctntDtls-vdoDtls">
        <h4 class="sect-ctntDtls-vdoTitle">{%MINIMS_CTNT-DTLS_TITLE%}</h4>

        <div class="vdo-bufferLine-container">
          <div class="vdo-bufferLine"></div>
        </div>

        <div class="video-controls">
          <button class="vdo-ctrls-items vdo-ctrls-item-1">
            <img
              class="vdo-ctrls-icons vdo-item-backward"
              src="imgs/Middle Nav/VideoPlayer/svgs/rotate-left-solid.svg"
            />
          </button>
          <button class="vdo-ctrls-items vdo-ctrls-item-2">
            <img
              class="vdo-ctrls-icons vdo-item-forward"
              src="imgs/Middle Nav/VideoPlayer/svgs/rotate-right-solid.svg"
            />
          </button>
          <button class="vdo-ctrls-items vdo-ctrls-item-3">
            <img
              class="vdo-ctrls-icons vdo-item-play"
              src="imgs/Middle Nav/VideoPlayer/svgs/play-solid.svg"
            />
          </button>
          <button class="vdo-ctrls-items vdo-ctrls-item-4">
            <img
              class="vdo-ctrls-icons vdo-item-volume"
              src="imgs/Middle Nav/VideoPlayer/svgs/volume-xmark-solid.svg"
            />
          </button>
          <button class="vdo-ctrls-items vdo-ctrls-item-6">
            <img
              class="vdo-ctrls-icons vdo-item-setting"
              src="imgs/Middle Nav/VideoPlayer/svgs/gear-solid.svg"
            />
          </button>
          <button class="vdo-ctrls-items vdo-ctrls-item-8">AutoPlay</button>
        </div>
      </section>
    </section>
  </section>
</section>
<section class="section-ctnt-nav">
  <div class="sect-ctnt-nav-items sect-ctnt-nav-item-1">
    <img
      src="imgs/Middle Nav/Right-nav/image-portrait-solid.svg"
      height="30px"
      class="sect-ctnt-nav-icon sect-ctnt-nav-icon-1"
    />
  </div>
  <div class="sect-ctnt-nav-items sect-ctnt-nav-item-2">
    <img
      src="imgs/Middle Nav/Right-nav/thumbs-up-solid.svg"
      height="30px"
      class="sect-ctnt-nav-icon sect-ctnt-nav-icon-2"
    />
  </div>
  <div class="sect-ctnt-nav-items sect-ctnt-nav-item-3">
    <img
      src="imgs/Middle Nav/Right-nav/thumbs-down-solid.svg"
      height="30px"
      class="sect-ctnt-nav-icon sect-ctnt-nav-icon-3"
    />
  </div>
  <div class="sect-ctnt-nav-items sect-ctnt-nav-item-4">
    <img
      src="imgs/Middle Nav/Right-nav/messages.svg"
      height="30px"
      class="sect-ctnt-nav-icon sect-ctnt-nav-icon-4"
    />
  </div>
  <div class="sect-ctnt-nav-items sect-ctnt-nav-item-5">
    <img
      src="imgs/Middle Nav/Right-nav/share-nodes-solid.svg"
      height="30px"
      class="sect-ctnt-nav-icon sect-ctnt-nav-icon-5"
    />
  </div>
  <div class="sect-ctnt-nav-items sect-ctnt-nav-item-6">
    <img
      src="imgs/Middle Nav/Right-nav/bookmark-regular.svg"
      height="30px"
      class="sect-ctnt-nav-icon sect-ctnt-nav-icon-6"
    />
  </div>
  <div class="sect-ctnt-nav-items sect-ctnt-nav-item-7">
    <img
      src="imgs/Middle Nav/Right-nav/bars-solid.svg"
      height="30px"
      class="sect-ctnt-nav-icon sect-ctnt-nav-icon-7"
    />
  </div>
  <div class="sect-ctnt-nav-items sect-ctnt-nav-item-8">
    <img
      src="imgs/Middle Nav/Right-nav/music-solid.svg"
      height="30px"
      class="sect-ctnt-nav-icon sect-ctnt-nav-icon-8"
    />
  </div>
</section>
