* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
  color: #fff;
}

body {
  background-color: #202020;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #202020;
}

body::-webkit-scrollbar-track {
  margin: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: max-content 6fr 6rem;
}

.section-left {
  display: grid;
  grid-template-rows: 60px 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
  /* justify-content: center; */
  /* align-items: start; */
  background-color: rgba(61, 61, 61, 0.3);
  border-right: 1px solid #787878;

  overflow-y: hidden;
  height: 100vh;
  top: 0;
  position: sticky;
}

.sect-lft-up {
  display: flex;
  justify-self: start;
  align-self: center;
  padding-left: 20px;
  font-weight: 900;
  cursor: pointer;
}

.sect-lft-dwn {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}

.sect-lft-dwn-links {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.sect-lft-dwn-links:hover {
  background-color: #383838;
  cursor: pointer;
}

.srd-link-Icons {
  width: 20px;
  filter: invert();
}

.srd-link-lockIcon {
  width: 18px;
}

.srd-link-texts {
  font-size: 16px;
  font-weight: 900;
}

.bjenuine-text-header {
  font-size: 24px;
}

/* ///////////////////////////////// SECTION MIDDLE /////////////////////////////////// */

.section-middle {
  display: flex;
  flex-direction: column;
}

.sect-mid-nav {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: #202020;
  z-index: 1000;
}

.nav-search {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.searchBar-container {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
}

.searchBar-InputField {
  width: 60%;
  height: 45px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(120, 120, 120, 0.5);
  background: rgba(60, 60, 60, 0.3);
  outline: none;
  padding: 10px;
}

/* .searchBar-InputField::placeholder {
} */

.searchBar-InputField[type="text"] {
  font-family: montserrat;
  font-weight: 600;
}

.searchBar-voiceSearch {
  align-self: center;
  /* padding-top: 5px; */
  height: 20px;
  filter: invert();
}

.nav-sort-length,
.nav-sort-date {
  height: 100%;
}

.nav-sort-length-img,
.nav-sort-date-img {
  height: 20px;
  filter: invert();
}

.nav-sort-length-img:hover,
.nav-sort-date-img:hover,
.category-bookmark-icon:hover,
.searchBar-voiceSearch:hover {
  cursor: pointer;
}

.bjenuine-text-mediaQuery {
  display: none;
  font-weight: 900;
}

.searchBar-keywordContainer {
  background-color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.searchBar-keywordBox {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  color: #202020;
}

.searchBar-keywords {
  color: #3c3c3c;
  font-size: 12px;
}

/* ///////////////////////////////////// nav-category_n_bookmark ////////////////////////////////// */

.nav-cat_N_sort {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.nav-cat-kit_n_bookmark,
.nav-slctvKit {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  height: max-content;
}

.category-select,
.nav-slctvKit-select {
  display: flex;
  height: 40px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  background: #fff;
  column-gap: 15px;
  align-items: center;
}

.nav-slctvKit-select {
  background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.5);
}

.category-select:hover,
.nav-slctvKit-select {
  cursor: pointer;
}

.category-select-text,
.nav-slctvKit-select-text {
  color: #202020;
  font-family: Lexend Giga;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.nav-slctvKit-select-text {
  color: #fff;
}

.category-select-dwnIcon,
.nav-slctvKit-select-dwnIcon {
  align-self: center;
  /* padding-top: 4px; */
  height: 20px;
}

.nav-slctvKit-select-dwnIcon {
  filter: invert();
}

.category-bookmark-icon,
.nav-slctvKit-bookmark-icon {
  filter: invert();
  height: 20px;
}

.nav-slctvKit-bookmark-icon:hover {
  cursor: pointer;
}

.nav-sort {
  display: flex;
  column-gap: 30px;
  justify-self: end;
  padding-right: 30px;
  height: max-content;
  align-items: center;
}

.nav-sort-age {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.age-toggleContainer {
  display: flex;
  width: 60px;
  height: 25px;
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
}

.ageToggler {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  margin-left: 5px;
  background-color: #3c3c3c;
}

/* /////////////////////////////////////////// section-right /////////////////////////////////// */

.section-right {
  display: grid;
  /* grid-template-rows: 150px 1fr 100px; */
  background-color: rgb(60, 60, 60, 0.3);
  width: 75px;
  height: 90vh;
  position: sticky;
  top: 40px;

  /* align-self: center; */
  justify-content: center;
  border-radius: 30px 0px 0px 30px;
  border: 1px solid rgba(120, 120, 120, 0.5);
  background: rgba(61, 61, 61, 0.3);
}

.sect-rgt-icons {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 2.8rem;
  /* grid-template-rows: 130px 4fr 80px; */
  justify-items: center;
  align-self: center;
  justify-content: center;
  /* align-items: center; */
}

.sect-rgt-icon-list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  row-gap: 10px;
}

.sect-rgt-icons-imgs {
  width: 20px;
  filter: invert();
}

.sect-rgt-icon-list-container {
  padding: 1.1rem;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease-in-out;
}

.sect-rgt-icon-list-container:hover {
  cursor: pointer;
  background-color: rgb(60, 60, 60, 0.5);
  border-radius: 10px;
}

.sect-rgt-icon-1 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: end;
  align-items: center;
  /* width: 25px; */
}

.sect-rgt-icon-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

/* //////////////////////////////// sect-mid-contentContainer ////////////////////////////////////////// */

.sect-mid-contentContainer {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  padding: 40px;
  padding-top: 10px;
  width: 100%;
  row-gap: 30px;
}

.sect-mid-playlist-details {
  display: grid;
  grid-template-rows: max-content 1fr;
  row-gap: 20px;
  width: 100%;
}

.sect-mid-pllst-container {
  display: grid;
  grid-template-columns: 60% 1fr;
  column-gap: 20px;
  width: 100%;
}

.sect-mid-playList-index {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sect-midPllst-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sect-midPllst-heading {
  font-size: 1.5rem;
  font-weight: 900;
}

.sect-midPllst-add_N_Remove {
  display: flex;
  column-gap: 10px;
}

.sect-midPllst-addBtn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 60px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  padding: 5px;
}

.sect-midPllst-removeBtn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 100px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  padding: 5px;
}

.sect-midPllst-addBtn:hover,
.sect-midPllst-removeBtn:hover {
  background-color: rgb(60, 60, 60, 0.3);
}

.pllst-container-list {
  display: flex;
  flex-direction: column;
  height: 31.25rem;
  row-gap: 20px;
  overflow-y: scroll;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pllst-container-list::-webkit-scrollbar {
  width: 7px;
  background-color: #202020;
}

.pllst-container-list::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.pllst-containers {
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 20px;
}

.sect-mid-pllst-thumbnail {
  width: 100%;
}

.sect-mid-container-pllstdtls {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.sect-mid-pllst-container-title {
  font-size: 1.1rem;
  font-weight: 800;
}

.sect-mid-cntnr-date {
  font-size: 0.825rem;
  font-weight: 500;
}

.sect-mid-pllst-container-partialSlct {
  display: flex;
  width: max-content;
  background-color: transparent;
  align-items: center;
  padding: 10px;
  column-gap: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sect-mid-pllst-container-partialSlct:hover {
  background-color: rgb(120, 120, 120, 0.2);
}

.pllst-cntnr-prtlSlct-h4 {
  font-size: 0.8rem;
}

.pllst-cntnr-prtlSlct-icon {
  filter: invert();
  height: 1rem;
}

.sect-mid-playList-preview {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-self: center;
}

.pllstPrvw-thumb {
  width: 100%;
}

.pllstPrvw-head_N_des {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.pllstPrvw-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.pllstPrvw-description {
  font-size: 0.8rem;
  font-weight: 500;
}

.pllstPrvw-btns-list {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.pllstPrvw-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.pllstPrvw-btns h3 {
  font-weight: 700;
  font-size: 0.825rem;
}

.pllstPrvw-btns img {
  filter: invert();
  height: 1.2rem;
}

.pllstPrvw-btns:hover {
  background-color: rgba(120, 120, 120, 0.2);
}

/* //////////////////////////////////////////////////////////////////////////////// */

.pllst-vdoRecom-ctntContainer {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  width: 100%;
  column-gap: 20px;
  justify-content: space-evenly;
  /* overflow-x: scroll; */
}

.pllst-vdoRecom-contents {
  display: flex;
  flex-direction: column;
  width: 15rem;
  row-gap: 10px;
  cursor: pointer;
}

.section-Header {
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
  align-items: center;
}

.sectionHead-chLogo {
  height: 30px;
}

.sectionHead-chName {
  font-size: 14px;
}

.sectionHead-tick {
  height: 20px;
}

/* .sectionHead-thumbNail {
} */

.section-details {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.section-details-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 4.4rem;
  -webkit-line-clamp: 2;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-weight: 800;
}

.section-details-description {
  font-size: 0.7rem;
  font-weight: 400;
}

.sectionHead-views,
.sectionHead-date {
  font-weight: 400;
}

.sectionHead-views_N_date {
  display: flex;
  column-gap: 25px;
  justify-content: start;
}

.section-details-addBtn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 5rem;
  /* height: 1.5rem; */
  font-size: 0.7rem;
  font-weight: 800;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.section-details-addBtn:hover {
  background-color: rgb(120, 120, 120, 0.2);
}

.sect-mid-playlist-vdoRecom {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 78vw;
}

.pllst-vdoRecom-head {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.pllst-vdoRecom-head-text {
  font-size: 1rem;
  font-weight: 800;
}

.pllst-vdoRecom-head-btn {
  width: 14rem;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}

.pllst-vdoRecom-head-btn:hover {
  background-color: rgb(120, 120, 120, 0.2);
}

/* //////////////////////////////// sect-mid-playlist-pllstRecom ////////////////////////////////////////// */
.sect-mid-playlist-pllstRecom {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 20px;
  /* background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.5); */
  border-radius: 10px;
}

.sect-mid-recomPllst-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sect-mid-recomPllst-heading {
  font-size: 1.5rem;
  font-weight: 900;
}

.sect-mid-recomPllst-add_N_Remove {
  display: flex;
  column-gap: 10px;
}

.sect-mid-recomPllst-addBtn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 60px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  padding: 5px;
}

.sect-mid-recomPllst-removeBtn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 100px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  padding: 5px;
}

.sect-mid-recomPllst-addBtn:hover,
.sect-mid-recomPllst-removeBtn:hover {
  background-color: rgb(60, 60, 60, 0.3);
}

.sect-mid-recomPllst-list {
  display: grid;
  grid-template-columns: 60% 1fr;
  column-gap: 20px;
}

.sect-mid-recomPllst-index {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.5);
  border-radius: 10px;
  padding: 20px;
}

.sect-mid-recomPllst-containersList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.recomPllst-containers {
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 20px;
}

.sect-mid-recomPllst-thumbnail {
  width: 100%;
}

.sect-mid-recomPllst-pllstdtls {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.recomPllst-container-title {
  font-size: 1.1rem;
  font-weight: 800;
}

.recomPllst-container-description {
  font-size: 0.825rem;
  font-weight: 500;
}

.recomPllst-date_N_bkmark {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 20px;
}

.recomPllst-cntnr-date {
  font-size: 0.825rem;
  font-weight: 500;
}

.recomPllst-cntnr-btn {
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.recomPllst-cntnr-btnIcon {
  filter: invert();
  height: 15px;
  cursor: pointer;
}

.sect-mid-recomPllst-preview {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px;
  height: 100%;
  align-self: flex-start;
  background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.5);
  border-radius: 10px;
}

.recomPllst-Prvw-thumb {
  width: 100%;
}

.recomPllst-Prvw-head_N_des {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.recomPllst-Prvw-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.recomPllst-Prvw-description {
  font-size: 0.8rem;
  font-weight: 500;
}

.recomPllst-Prvw-btns-list {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.recomPllst-Prvw-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.recomPllst-Prvw-btns h3 {
  font-weight: 700;
  font-size: 0.825rem;
}

.recomPllst-Prvw-btns img {
  filter: invert();
  height: 20px;
}

.recomPllst-Prvw-btns:hover {
  background-color: rgba(120, 120, 120, 0.2);
}

/* ///////////////////////////////////////////////////////////////// */

.recomPllstPrvw-ctnt-includeList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 18rem;
  overflow-y: scroll;
}

.recomPllstPrvw-ctnt-includeList::-webkit-scrollbar {
  width: 7px;
  background-color: #202020;
}

.recomPllstPrvw-ctnt-includeList::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.recomPllstPrvw-ctntList-cntnrs {
  display: grid;
  grid-template-columns: 35% 1fr;
  column-gap: 20px;
}

.recomPllstPrvw-ctntList-cntnrs-thumbnail {
  width: 100%;
}

.recomPllstPrvw-ctntList-cntnrs-pllstdtls {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.recomPllstPrvw-ctntList-cntnrs-title {
  font-size: 0.8rem;
  font-weight: 800;
}

.recomPllstPrvw-ctntList-cntnrs-date_N_bkmark {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 20px;
}

.recomPllstPrvw-ctntList-cntnrs-date {
  font-size: 0.7rem;
  font-weight: 500;
}

.recomPllstPrvw-ctntList-cntnrs-btn {
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.recomPllst-cntnr-btnIcon {
  filter: invert();
  height: 15px;
  cursor: pointer;
}

.sect-mid-recomPllst-preview {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px;
  height: 100%;
  align-self: flex-start;
  background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.5);
  border-radius: 10px;
}

.recomPllst-Prvw-thumb {
  width: 100%;
}

.recomPllst-Prvw-head_N_des {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.recomPllst-Prvw-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.recomPllst-Prvw-description {
  font-size: 0.8rem;
  font-weight: 500;
}

.recomPllst-Prvw-btns-list {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.recomPllst-Prvw-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.recomPllst-Prvw-btns h3 {
  font-weight: 700;
  font-size: 0.825rem;
}

.recomPllst-Prvw-btns img {
  filter: invert();
  height: 20px;
}

.recomPllst-Prvw-btns:hover {
  background-color: rgba(120, 120, 120, 0.2);
}
