<div
  class="pllst-vdoRecom-contents pllst-vdoRecom-content-{%PLLST_VDORECOM_INDEX%}"
>
  <section class="section-Header">
    <img src="{%PLLST_VDORECOM_CH-LOGO%}" class="sectionHead-chLogo" />
    <h3 class="sectionHead-chName">{%PLLST_VDORECOM_CH-NAME%}</h3>
    <img src="{%PLLST_VDORECOM_CH-VERIFIED%}" class="sectionHead-tick" />
  </section>

  <img src="{%PLLST_VDORECOM_THUMB%}" class="sectionHead-thumbNail" />

  <section class="section-details">
    <h4 class="section-details-title">{%PLLST_VDORECOM_TITLE%}</h4>
    <h5 class="section-details-description">{%PLLST_VDORECOM_DESCRIPTION%}</h5>
    <hr width="50px" />
    <div class="sectionHead-views_N_date">
      <h5 class="sectionHead-views">
        <span class="views">{%PLLST_VDORECOM_VIEW%}</span> Views
      </h5>
      <h5 class="sectionHead-date"><span>{%PLLST_VDORECOM_TIME%}</span> ago</h5>
    </div>
    <button class="section-details-addBtn">ADD +</button>
  </section>
</div>
