extends ../base

block append head
  link(rel='stylesheet', href='/css/pricing.css')
  link(rel='stylesheet', href='/css/pricingMediaQueries.css')
  script(src='https://js.stripe.com/v3/')

block content
  a(href="#pricingsPanel").overview-banner-container
    img.overview-banner-image(src="https://begenone-images.s3.us-east-1.amazonaws.com/banner-main.png" alt="Banner Image")
  section.sect-mid-contentContainer
    img.pricing-heading-image(src="https://begenone-images.s3.us-east-1.amazonaws.com/begenone-white-transparent-logo-beta-min.png", alt="")
    h1.pricing-heading-h1 PRICING BUILT FOR INDIVIDUALS and BUSINESSES OF ALL SIZES
    .pricing-container#pricingsPanel
      //- .pricing-cntnrs.pricing-cntnr-crown
      //-   img.pricing-crown-img(src='/imgs/crown-pricing.png')
      //-   h2.pricing-crown-h2 CROWN
      //-   .pricing-features
      //-     h3.pricing-features-lists.pricing-features-list-1
      //-       | 1. FEATURE ONE
      //-     h3.pricing-features-lists.pricing-features-list-2
      //-       | 2. FEATURE TWO
      //-     h3.pricing-features-lists.pricing-features-list-3
      //-       | 3. FEATURE THREE
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 4. FEATURE FOUR
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 5. FEATURE FOUR
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 6. FEATURE FOUR
      //- .pricing-cntnrs.pricing-cntnr-diamond
      //-   img.pricing-diamond-img(src='/imgs/diamond-pricing.png')
      //-   h2.pricing-diamond-h2 DIAMOND
      //-   .pricing-features.pricing-feature-diamond
      //-     h3.pricing-features-lists.pricing-features-list-1
      //-       | 1. FEATURE ONE
      //-     h3.pricing-features-lists.pricing-features-list-2
      //-       | 2. FEATURE TWO
      //-     h3.pricing-features-lists.pricing-features-list-3
      //-       | 3. FEATURE THREE
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 4. FEATURE FOUR
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 5. FEATURE FOUR
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 6. FEATURE FOUR
      //- .pricing-cntnrs.pricing-cntnr-platinum
      //-   img.pricing-platinum-img(src='imgs/platinum-pricing.png')
      //-   h2.pricing-platinum-h2 PLATINUM
      //-   .pricing-features.pricing-feature-platinum
      //-     h3.pricing-features-lists.pricing-features-list-1
      //-       | 1. FEATURE ONE
      //-     h3.pricing-features-lists.pricing-features-list-2
      //-       | 2. FEATURE TWO
      //-     h3.pricing-features-lists.pricing-features-list-3
      //-       | 3. FEATURE THREE
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 4. FEATURE FOUR
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 5. FEATURE FOUR
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 6. FEATURE FOUR
      //- .pricing-cntnrs.pricing-cntnr-gold
      //-   h2.pricing-gold-h2 GOLD
      //-   .pricing-features.pricing-feature-gold
      //-     h3.pricing-features-lists.pricing-features-list-1
      //-       | 1. FEATURE ONE
      //-     h3.pricing-features-lists.pricing-features-list-2
      //-       | 2. FEATURE TWO
      //-     h3.pricing-features-lists.pricing-features-list-3
      //-       | 3. FEATURE THREE
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 4. FEATURE FOUR
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 5. FEATURE FOUR
      //-     h3.pricing-features-lists.pricing-features-list-4
      //-       | 6. FEATURE FOUR
      //- .pricing-cntnrs.pricing-cntnr-silver
        h2.pricing-silver-h2 SILVER
        .pricing-features.pricing-feature-silver
          h3.pricing-features-lists.pricing-features-list-1
            | 1. FEATURE ONE
          h3.pricing-features-lists.pricing-features-list-2
            | 2. FEATURE TWO
          h3.pricing-features-lists.pricing-features-list-3
            | 3. FEATURE THREE
          h3.pricing-features-lists.pricing-features-list-4
            | 4. FEATURE FOUR
          h3.pricing-features-lists.pricing-features-list-4
            | 5. FEATURE FOUR
          h3.pricing-features-lists.pricing-features-list-4
            | 6. FEATURE FOUR
      .pricing-cntnrs.pricing-cntnr-ea
        h2.pricing-ea-h2
          | EARLY ACCESS
          br
          span.pricing-ea-h2-span
            | ( Charged Monthly )
            br
            | [Prices May Increase in future, get your lucky offer now!]
        h2.pricing-price(style="display: flex; flex-direction: column; align-items: center;")
          sup.actual-pricing(style="font-size: .8rem;")
            del ($29.99/monthly)
          span.new-pricing
            |  $19.99
            span.new-pricing-time-span
              | per month
            
          
          //- p(style="font-size: .75rem;") per month
        .pricing-features.pricing-feature-ea
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-beta-launch
              span Become a <b>BETA TESTER</b>
              <b class="available-pricing">(Avaliable)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-1
              span Channel Creation
              <b class="available-pricing">(Avaliable)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-2
              span Video Upload
              <b class="available-pricing">(Avaliable)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-3
              span All Ads Removed
              <b class="available-pricing">(Avaliable)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-4
              span Content Boost
              <b class="available-pricing">(Avaliable)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-5
              span Event Notifications
              <b class="available-pricing">(Avaliable)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-6
              span Community Post
              <b class="almost_here-pricing">(Almost Here)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-7
              span Wires
              <b class="almost_here-pricing">(Almost Here)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-7
              span AI Text Generator (Wires)
              <b class="almost_here-pricing">(Almost Here)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-8
              span Premium Stickers
              <b class="almost_here-pricing">(Almost Here)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-9
              span Promotion
              <b class="coming_soon-pricing">(coming soon)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-10
              span Impression System
              <b class="coming_soon-pricing">(coming soon)</b>
          .pricing-feature-item
            i.fa-solid.fa-circle-check
            h3.pricing-features-lists.pricing-features-list-11
              span Sponsorship Tabs
              <b class="coming_soon-pricing">(coming soon)</b>
        if userData
          if userActiveStatus === false
            |
          else
            - const portal = `https://billing.stripe.com/p/login/test_cN2dT5dzY46r58s7ss`
            if subscriptionStatus
              a(href=`${portal}` style='width: 100%;')
                button.pricing-checkout-button
                  | GO TO YOUR PORTAL!
                  //- i.fa-solid.fa-credit-card
            else
              button.pricing-checkout-button#checkout-pricing(data-pricing-id=`${pricings.earlyAccess}`)
                | Start Now!
                i.fa-solid.fa-credit-card
        else 
          a(href="/login").pricing-checkout-button 
            | Start Now!
            i.fa-solid.fa-credit-card
        
          //- h3.pricing-features-lists.pricing-features-list-4
          //-   | 6. FEATURE FOUR
      .pricing-in_depth-details
        h2.pricing-ea-details-h2 LEARN ABOUT EARLY ACCESS
        .pricing-features-details
          h2.pfd-h2 Exclusive Early Access Membership
          span.pfd-spans
            span The Early Access Membership for <b> BEGENONE </b> is a limited-time opportunity that provides exclusive features to its holders. During the Early Access period, which may last between <b> 6 to 12 months</b>, only members will have the ability to <b>CREATE CHANNEL</b>, <b>UPLOAD VIDEOS</b>, enjoy an <b>AD-FREE EXPERIENCE</b>, <b>ACCESS PREMIUM STICKERS</b>, and benefit from the <b>HIGH CONTENT BOOST</b>. These advantages will not be available to non-members until the Early Access period ends.
            br
            br
            span As more users join the platform, Early Access members will have a distinct advantage. With fewer content creators and a rapidly growing audience, your content will receive higher visibility and engagement, giving you a significant edge in building your audience. Additionally, the High Content Boost ensures that your videos are prioritized throughout Early Access and continue to receive prominent placement for a month after it concludes.
            br
            br
            span <b>Please note:</b> The price for Early Access may fluctuate and is likely to increase as the platform expands. Securing your membership now locks in your benefits at the current rate, ensuring you don't miss out on this exclusive opportunity. Act fast—sign up today and take full advantage of the benefits while the offer lasts.
    if userActiveStatus === false
      .userActiveStatusCheckContainer
        h1.userActiveStatus-h1
          | User is not Authorized. Please Activate your account to Activate any subscription. ❌
        button.userReverifyLinkBtn
          | Verify Here.
    br
    br
    br
    hr.hr-pfd-indepth

    .pricing-in_depth-details
      h2.pricing-ea-details-h2-indepth FEATURE'S OVERVIEW
      .pricing-features-details.pricing-features-details-indepth
        h2.pfd-h2-indepth Exclusive Early Access Membership
        div.pfd-indepth
          hr.hr-pfd-indepth  
          br
          div.pfd-div.pfd-div-1.indepth-div
            h1.pfd-h1.pfd-h1-1.indepth 
              | Channel Creation 
              br
              <b class="available-pricing">(Avaliable)</b>
            p.pfd-p.pfd-p-1
              | Create your own channel for sharing content.
              br
              | <span class="pfd-p-span"> <b>Benefit:</b> This feature allows you to establish a dedicated space for your videos, wires, and posts. For example, if you're a fitness coach, you can create a channel to upload workout tutorials and attract a focused audience interested in fitness content.</span>
          br
          hr.hr-pfd-indepth
          br
          div.pfd-div.pfd-div-2.indepth-div
            h1.pfd-h1.pfd-h1-2.indepth 
              | Video Upload
              br
              <b class="available-pricing">(Avaliable)</b>
            p.pfd-p.pfd-p-2
              | Upload videos to the platform for others to view.
              br
              | <span class="pfd-p-span"><b>Benefit:</b> You can share your videos directly with the community, giving you control over your content distribution. For example, a musician could upload their latest music video and engage directly with their fans without worrying about platform restrictions.</span>
          br
          hr.hr-pfd-indepth
          br
          div.pfd-div.pfd-div-3.indepth-div
            h1.pfd-h1.pfd-h1-3.indepth 
              | All Ads Removed
              br
              <b class="available-pricing">(Avaliable)</b>
            p.pfd-p.pfd-p-3
              | Enjoy an ad-free experience while browsing and interacting with content.
              br
              | <span class="pfd-p-span"><b>Benefit:</b> Enjoy a seamless viewing experience with no interruptions, making it easier for you to focus on your content. For instance, if you're watching any content, you won't be distracted by pop-up ads, resulting in a more positive and engaging experience</span>
          br
          hr.hr-pfd-indepth
          br
          div.pfd-div.pfd-div-5.indepth-div
            h1.pfd-h1.pfd-h1-5.indepth
              | Content Boost
              br
              <b class="available-pricing">(Avaliable)</b>
            p.pfd-p.pfd-p-5
              | Enhance your content's reach with priority placement.
              br
              | <span class="pfd-p-span"><b>Benefit:</b> This feature pushes your content to the top of the feed, increasing its chances of being seen. For example, if you're a new creator, your video on "How to Start a Blog" could be featured at the top, helping you reach a wider audience who might have missed it otherwise.</span>
          br
          hr.hr-pfd-indepth
          br
          div.pfd-div.pfd-div-9.indepth-div
            h1.pfd-h1.pfd-h1-9.indepth
              | Event Notifications
              br
              <b class="available-pricing">(Avaliable)</b>
            p.pfd-p.pfd-p-9
              | Get updates about events and opportunities via email.
              br
              | <span class="pfd-p-span"><b>Benefit:</b> Stay up to date with platform events, such as live streams or opportunities, ensuring you don't miss key moments that could enhance your visibility. For example, if there's an upcoming event where you can showcase your content to wider audience, you'll get notified ahead of time to participate.</span>
          br
          hr.hr-pfd-indepth
          br
          div.pfd-div.pfd-div-7.indepth-div
            h1.pfd-h1.pfd-h1-7.indepth
              | Community Post
              br
              <b class="almost_here-pricing">(Almost Here)</b>
            p.pfd-p.pfd-p-7
              | Share posts with the community to engage and interact.
              br
              | <span class="pfd-p-span"><b>Benefit:</b> This feature allows you to post announcements, polls, or updates directly to your followers. For instance, if you're releasing a new product, you can use this feature to notify your followers first, creating anticipation and engagement with your community.</span>
          br
          hr.hr-pfd-indepth
          br
          div.pfd-div.pfd-div-8.indepth-div
            h1.pfd-h1.pfd-h1-8.indepth
              | Wires
              br
              <b class="almost_here-pricing">(Almost Here)</b>
            p.pfd-p.pfd-p-8
              | Post short updates to engage with followers.
              br
              | <span class="pfd-p-span"><b>Benefit:</b> Share quick thoughts, ideas, or updates with your followers in real-time. For example, if you're a content creator, you could quickly share a behind-the-scenes look at your next project, keeping your audience connected and engaged.</span>
          br
          hr.hr-pfd-indepth
          br
          div.pfd-div.pfd-div-8.indepth-div
            h1.pfd-h1.pfd-h1-8.indepth
              | AI TEXT GENERATION (for WIRES)
              br
              <b class="almost_here-pricing">(Almost Here)</b>
            p.pfd-p.pfd-p-8
              | Automatically create Wires using AI assistance.
              br
              | <span class="pfd-p-span"><b>Benefit:</b> This feature helps generate engaging text for your Wires, saving you time. For example, if you're a busy content creator, the AI could suggest a catchy post about your latest video, allowing you to spend less time writing and more time creating.</span>
          br
          hr.hr-pfd-indepth
          br
          div.pfd-div.pfd-div-4.indepth-div
            h1.pfd-h1.pfd-h1-4.indepth
              | Premium Stickers
              br
              <b class="coming_soon-pricing">(coming soon)</b>
            p.pfd-p.pfd-p-4
              | Access exclusive, fun stickers for customization.
              br
              | <span class="pfd-p-span"><b>Benefit:</b> Use unique stickers to add flair to your posts, messages, or videos. For instance, if you're a gamer, you can use exclusive stickers when commenting on other people's posts, making your interactions more engaging.</span>
          br
          hr.hr-pfd-indepth
          br
          div.pfd-div.pfd-div-6.indepth-div
            h1.pfd-h1.pfd-h1-6.indepth
              | Promotion
              br
              <b class="coming_soon-pricing">(coming soon)</b>
            p.pfd-p.pfd-p-6
              | Advertise your posts to increase their reach.
              br
              | <span class="pfd-p-span"><b>Benefit:</b> Boost the visibility of your content to a targeted audience by paying for promotions. For example, if you're launching a new product, you can pay to boost your post and ensure it gets seen by potential customers, increasing the chance of conversions.</span>
          br
          hr.hr-pfd-indepth
          br
          div.pfd-div.pfd-div-10.indepth-div
            h1.pfd-h1.pfd-h1-10.indepth
              | Impression System
              br
              <b class="coming_soon-pricing">(coming soon)</b>
            p.pfd-p.pfd-p-10
              | Use algorithm-generated points to promote your videos.
              br
              | <span class="pfd-p-span"><b>Benefit:</b> Earn points based on your channel's activity that can be used to promote your content without spending money. For example, if your channel gains traction over time, you could use earned points to promote your next video, giving it more exposure without a cost.</span>
          br
          hr.hr-pfd-indepth
          br
          div.pfd-div.pfd-div-11.indepth-div
            h1.pfd-h1.pfd-h1-11.indepth
              | Sponsorship Tabs
              br
              <b class="coming_soon-pricing">(coming soon)</b>
            p.pfd-p.pfd-p-11
              | Showcase promoted products alongside video descriptions.
              br
              | <span class="pfd-p-span"><b>Benefit:</b> This feature lets you highlight sponsored products in a dedicated tab. For instance, if you're a beauty influencer, you can feature sponsored skincare products alongside your video tutorial, providing viewers with direct access to purchase the items you're promoting.</span>
  //- footer.footer
  //-   p(style="margin: 0;")
  //-     | &copy; 2024 World Ecosystem Reform. All Rights Reserved.
  //-   p(style="margin: 0; margin-top: 0.5rem;")
  //-     | Contact us: 
  //-     a.mailto(href="mailto:info@begenone.com") info@begenone.com
  footer.footer
    p(style="margin: 0;")
      | &copy; 2024 World Ecosystem Reform. All Rights Reserved.
    p(style="margin: 0; margin-top: 0.5rem;")
      | Contact us: 
      a.mailto(href="mailto:info@begenone.com") info@begenone.com
    p(style="margin: 0; margin-top: 0.5rem;").footer-social-links
      | Follow us:
      a.social-link.social-link-twitter(href="https://twitter.com/begenone" target="_blank") Twitter
      a.social-link.social-link-instagram(href="https://instagram.com/begenone" target="_blank") Instagram
      a.social-link.social-link-linkedIn(href="https://www.linkedin.com/company/world-ecosystem-reform/" target="_blank") LinkedIn

  script(src="/js/stripe.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js')
  script.
    const userReverifyLinkBtn = document.querySelector('.userReverifyLinkBtn');
    userReverifyLinkBtn.addEventListener('click', function (e) {
      e.preventDefault();

      window.location.href = '/re-verify';
    });