nav.sect-mid-nav
  section.nav-search
    .searchBar-container
      img.searchBar-search-Icon.icon.icon-search-solid(src="https://begenone-images.s3.amazonaws.com/magnifying-glass-solid.svg", alt="")
      input.searchBar-InputField(type='search', placeholder='Search')
      img.searchBar-voiceSearch.icon.icon-microphone-solid(src="https://begenone-images.s3.amazonaws.com/microphone-solid.svg", alt="")
  h2.bjenuine-text-mediaQuery BJenuine
  section.nav-cat_N_sort
    section.nav-cat-kit_n_bookmark
      .category-select
        h4.category-select-text Select Category
        svg.category-select-dwnIcon-cat.icon.icon-caret-down-solid
          use(xlink:href='#icon-caret-down-solid')
            symbol#icon-caret-down-solid(viewBox='0 0 20 32')
              path(d='M8.588 23.413c0.781 0.781 2.050 0.781 2.831 0l8-8c0.575-0.575 0.744-1.431 0.431-2.181s-1.038-1.238-1.85-1.238l-16 0.006c-0.806 0-1.538 0.488-1.85 1.238s-0.138 1.606 0.431 2.181l8 8z')
    section.nav-slctvKit
      .nav-slctvKit-select
        h4.nav-slctvKit-select-text Selective Kit
        svg.nav-slctvKit-select-dwnIcon.icon.icon-caret-down-solid
          use(xlink:href='#icon-caret-down-solid')
            symbol#icon-caret-down-solid(viewBox='0 0 20 32')
              path(d='M8.588 23.413c0.781 0.781 2.050 0.781 2.831 0l8-8c0.575-0.575 0.744-1.431 0.431-2.181s-1.038-1.238-1.85-1.238l-16 0.006c-0.806 0-1.538 0.488-1.85 1.238s-0.138 1.606 0.431 2.181l8 8z')
      svg.nav-slctvKit-bookmark-icon.icon.icon-bookmark-solid
        use(xlink:href='#icon-bookmark-solid')
          symbol#icon-bookmark-solid(viewBox='0 0 24 32')
            path(d='M0 3v27.481c0 0.837 0.681 1.519 1.519 1.519 0.313 0 0.619-0.094 0.875-0.275l9.606-6.725 9.606 6.725c0.256 0.181 0.563 0.275 0.875 0.275 0.837 0 1.519-0.681 1.519-1.519v-27.481c0-1.656-1.344-3-3-3h-18c-1.656 0-3 1.344-3 3z')
      .sect-rgt-icon-list-container-responsive.sect-rgt-icon-1
        svg.sect-rgt-icons-imgs.sect-rgt-icon-img-1.icon.icon-circle-user-solid
          use(xlink:href='#icon-circle-user-solid')
            symbol#icon-circle-user-solid(viewBox='0 0 32 32')
              path(d='M24.938 24.012c-1.381-2.4-3.975-4.012-6.938-4.012h-4c-2.963 0-5.556 1.613-6.938 4.012 2.2 2.45 5.387 3.988 8.938 3.988s6.738-1.544 8.938-3.988zM0 16c0-8.837 7.163-16 16-16s16 7.163 16 16v0c0 8.837-7.163 16-16 16s-16-7.163-16-16v0zM16 17c2.485 0 4.5-2.015 4.5-4.5s-2.015-4.5-4.5-4.5v0c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5v0z')
  script(src='https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js')
  script(src='/js/searchContent.js')
