section.sect-left-main
  section#sect-1.section-left-col-1
    .sect-left-col1-featured
      img.sect-left-col1-imgs.sect-left-col1-img-1(src="https://wereform-imgs.s3.amazonaws.com/begenone-white-transparent-logo+favicon.png", height='40px')
      img.sect-left-col1-imgs.sect-left-col1-img-2(src="https://begenone-images.s3.amazonaws.com/default.jpeg", height='40px')
      img.sect-left-col1-imgs.sect-left-col1-img-3(src="https://begenone-images.s3.amazonaws.com/user-image-2.jpg", height='40px')
      //- br
      img.sect-left-col1-imgs.sect-left-col1-img-4(src="https://begenone-images.s3.amazonaws.com/user-image-3.jpg", height='40px')
      img.sect-left-col1-imgs.sect-left-col1-img-5(src="https://begenone-images.s3.amazonaws.com/user-image-4.png", height='40px')
      img.sect-left-col1-imgs.sect-left-col1-img-6(src="https://begenone-images.s3.amazonaws.com/user-image-5.jpg", height='40px')
      //- br
      img.sect-left-col1-imgs.sect-left-col1-img-4(src="https://begenone-images.s3.amazonaws.com/user-image-6.png", height='40px')
      img.sect-left-col1-imgs.sect-left-col1-img-5(src="https://begenone-images.s3.amazonaws.com/user-image-7.jpg", height='40px')
      img.sect-left-col1-imgs.sect-left-col1-img-6(src="https://begenone-images.s3.amazonaws.com/user-image-8.jpg", height='40px')
      //- br
      img.sect-left-col1-imgs.sect-left-col1-img-6(src="https://begenone-images.s3.amazonaws.com/user-image-9.jpg", height='40px')
      img.sect-left-col1-imgs.sect-left-col1-img-6(src="https://begenone-images.s3.amazonaws.com/user-image-10.jpg", height='40px')
      img.sect-left-col1-imgs.sect-left-col1-img-5(src="https://begenone-images.s3.amazonaws.com/user-image-11.jpg", height='40px')
      img.sect-left-col1-imgs.sect-left-col1-img-6(src="https://begenone-images.s3.amazonaws.com/user-image-12.jpg", height='40px')
  section#sect-2.section-left
    a(href="/") 
      //- h2 BeGenuine
      img.sect-lft-up.bjenuine-text-header(src="https://wereform-imgs.s3.amazonaws.com/begenone-white-transparent-logo.svg", height='40px')
    .sect-lft-dwn
      //- a(href="/lock")
      .sect-lft-dwn-links.sect-lft-dwn-link-1
        img.srd-link-Icons.srd-link-lockIcon.icon.icon-lock-solid(src="https://begenone-images.s3.amazonaws.com/lock-solid.svg", alt="")
        h3.srd-link-texts.srd-link-lockText Lock Screen
      //- a(href="/clipZ/watch/") 
      .sect-lft-dwn-links.sect-lft-dwn-link-2
        img.srd-link-Icons.srd-link-movieIcon.icon.icon-clapperboard-solid(src="https://begenone-images.s3.amazonaws.com/clapperboard-solid.svg", alt="")
        h3.srd-link-texts.srd-link-clipZ ClipZ
      .sect-lft-dwn-links.sect-lft-dwn-link-3
        img.srd-link-Icons.srd-link-playlistIconicon.icon.icon-list-solid(src="https://begenone-images.s3.amazonaws.com/list-ul-solid.svg", alt="")
        h3.srd-link-texts.srd-link-playlistText Playlist
      a(href="/channels") 
        .sect-lft-dwn-links.sect-lft-dwn-link-4
          img.srd-link-Icons.srd-link-subsIcon.icon.icon-channel-icon(src="https://begenone-images.s3.amazonaws.com/user-group-solid.svg", alt="")
          h3.srd-link-texts.srd-link-subsText Channels
      .sect-lft-dwn-links.sect-lft-dwn-link-5
        img.srd-link-Icons.srd-link-servicesIcon.icon.icon-service-solid(src="https://begenone-images.s3.amazonaws.com/handshake-solid.svg", alt="")
        h3.srd-link-texts.srd-link-servicesText Services
      .sect-lft-dwn-links.sect-lft-dwn-link-6
        img.srd-link-Icons.srd-link-gemsIcon.icon.icon-gem-solid(src="https://begenone-images.s3.amazonaws.com/gem-solid.svg", alt="")
        h3.srd-link-texts.srd-link-gemsText Gems
      .sect-lft-dwn-links.sect-lft-dwn-link-7
        img.srd-link-Icons.srd-link-storyIcon.icon.icon-feather-pointed-solid(src="https://begenone-images.s3.amazonaws.com/envira.svg", alt="")
        h3.srd-link-texts.srd-link-storyText Stories
      if user
        //- if user.channel
        a(href="/user") 
          .sect-lft-dwn-links.sect-lft-dwn-link-8
            img.srd-link-Icons.srd-link-settingsIcon.icon.icon-gear-solid(src="https://begenone-images.s3.amazonaws.com/gear-solid.svg", alt="")
            h3.srd-link-texts.srd-link-settingsText Settings
      else
        a(href="/login") 
          .sect-lft-dwn-links.sect-lft-dwn-link-8
            img.srd-link-Icons.srd-link-settingsIcon.icon.icon-gear-solid(src="https://begenone-images.s3.amazonaws.com/gear-solid.svg", alt="")
            h3.srd-link-texts.srd-link-settingsText Settings