section.sect-notification-panel
  h1.notification-text NOTIFICATIONS
  input.notif-search-input(type='search', placeholder='Search Notification')
  .notif-contents
    .notif-video-cards-container
      .notif-video-card.notif-video-card-1
        .notif-video-card-header
          img.notif-video-card-acc-img(src='imgs/Middle Nav/Video card/channelImage.png', height='25px')
          h3.notif-video-card-acc-name Areesh Alam
          h4.notif-video-card-publish-date 14 Hours Ago
        .notif-video-card-row-2
          img.ch-dtls-vdo-thumb(src='imgs/Middle Nav/Video card/thumbnail.png', height='70px')
          .ch-dtls-vdo-meta
            h3.ch-dtls-vdo-title
              | Title of the video must be under 100 words
            h3.ch-dtls-vdo-views 234,000 views
    .notif-comments
      h3.notif-comments-text Comments
      .notif-comments-container
        .notif-cmnt-card.notif-cmnt-card-1
          .notif-cmnt-header
            img.notif-cmnt-userPic(src='imgs/Middle Nav/Video card/channelImage.png', height='25px')
            .notif-cmnt-h4 Areesh Alam
            h5.notif-cmnt-time 30 Minutes Ago
          h4.notif-cmnt-text
            | Wow! &#x2764;&#xFE0F;. That&apos;s a great video bro. I love it. I love when
            | There was that beat synced in the 13th second of the video.
            | Great Video Btw &#x1F44D;
      .notif-liked-comments-container
        .notif-lkd-cmnt-card.notif-lkd-cmnt-card-1
          .notif-lkd-cmnt-header
            img.notif-lkd-cmnt-userPic(src='imgs/Middle Nav/Video card/channelImage.png', height='25px')
            .notif-lkd-cmnt-h4 Areesh Alam
            h5.notif-lkd-cmnt-time 30 Minutes Ago
          h4.notif-lkd-cmnt-text
            span &#x1F44D;Liked Your Comment: 
            | Wow! &#x2764;&#xFE0F;. That&apos;s a great
            | video bro. I love it. I love when There was that beat synced
            | in the 13th second of the video. Great Video Btw &#x1F44D;
      .notif-reply-comments-container
        .notif-reply-cmnt-card.notif-reply-cmnt-card-1
          .notif-reply-cmnt-header
            img.notif-reply-cmnt-userPic(src='imgs/Middle Nav/Video card/channelImage.png', height='25px')
            .notif-reply-cmnt-h4 Areesh Alam
            h5.notif-reply-cmnt-time 30 Minutes Ago
          h4.notif-reply-cmnt-text
            span &#x1F44D;Liked Your Comment:
            | Wow! &#x2764;&#xFE0F;. That&apos;s a great
            | video bro. I love it. I love when There was that beat synced
            |in the 13th second of the video. Great Video Btw &#x1F44D;