extends base

block content
  h1= title

  //- If the signup was successful and email was sent
  if status === 'success'
    .alert.alert-success
      h3= message
    script.
      setTimeout(function() {
        window.location.href = '/email-confirmation';
      }, 5000)
  else
    .alert.alert-danger
      h3= message
  