extends base

block append head
  link(rel='stylesheet', href='/css/mainVideoCard.css')

block content
  .content-containers.content-container-1
    each video in videos
      section.section-Header
        img.sectionHead-chLogo(src='/imgs/Middle Nav/Video card/channelImage.png')
        .sectionHead-dtls
          .sectionHead-chName_N_sub
            h3.sectionHead-chName Channel Name
            h5.sectionHead-chSubCnt
              span 49,000
              |  Subscribers
          img.sectionHead-tick(src='/imgs/Middle Nav/Video card/tick-square 8.png')
      img.sectionHead-thumbNail(src='/imgs/Middle Nav/Video card/thumbnail.png')
      section.section-details
        h4.section-details-title
          | This is the Title of the video that is being displayed. This is
          | the Title of the video that is being displayed.
        hr(width='50px')
        .sectionHead-views_N_date
          h5.sectionHead-views
            span.views 124,000
            |  Views
          h5.sectionHead-date
            span
              | 19 
              span hours
            |  ago