doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/x-icon', href='/imgs/Begenuine FavIcon.png')
    link(rel="stylesheet", href="/css/signup.css")
    
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Giga:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Mega:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap', rel='stylesheet')
    title #{title}


  body
    .container
      .headings
        a(href="/")
          img.signup-heading(src="https://wereform-imgs.s3.amazonaws.com/begenone-white-transparent-logo.svg", height='40px')
        //- h3.signup-subHeading
        //-   | Welcome To The Light
      form.signup-form
        .firstname
          h3.signup-firstname
            | First Name
            span.star *
          input#firstName.signup-firstname-input(type='text', placeholder='Enter your first name')
        .lastname
          h3.signup-lastname
            | Second Name
            span.star *
          input#secondName.signup-lastname-input(type='text', placeholder='Enter your second name')
        .email
          h3.signup-email
            | Email
            span.star *
          input#email.signup-email-input(type='text', placeholder='Enter your email')
        .password
          h3.signup-password
            | Password
            span.star *
          input#password.signup-password-input(type='text', placeholder='Enter your password')
        .password-confirm
          h3.signup-password-confirm
            | Password Confirm
            span.star *
          input#passwordConfirm.signup-password-confirm-input(type='text', placeholder='Enter your password confirm')
        .username
          h3.signup-username
            | Username
            span.star *
          input#username.username-input(type='text', placeholder='Enter your password confirm')
        a.signup-anchor(href="/login") 
          h5.signup-text Login
        button.submit-form-btn SUBMIT
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js')
    script(src="/js/signup.js")