@media (max-width: 1350px) {
  html {
    font-size: 14px;
  }

  .sect-mid-nav {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 12px;
  }

  .nav-cat_N_sort {
    flex-direction: column;
    text-align: start;
    align-items: center;
    row-gap: 20px;
  }

  .notif-srchInput,
  .updts-srchInput {
    max-width: 70%;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1050px) {
  .notif-srchInput,
  .updts-srchInput {
    max-width: 80%;
  }
}

@media (max-width: 950px) {
  .nav-sort,
  .searchBar-keywordBox {
    display: none;
  }

  .notif-srchInput,
  .updts-srchInput {
    max-width: 100%;
  }

  .ntfc-row-3 {
    max-height: 700px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }

  .sect-mid-header {
    flex-direction: column;
    justify-items: center;
    row-gap: 10px;
    height: auto;
  }

  .sect-midHead-chCatgs-hr {
    height: 40%;
  }

  .sect-mid-contentContainer {
    grid-template-rows: repeat(3, max-content);
  }
}

@media (max-width: 800px) {
  .srd-link-texts,
  .nav-cat_N_sort {
    display: none;
  }

  .sect-mid-nav {
    grid-template-columns: 2fr 1fr;
  }

  .bjenuine-text-mediaQuery {
    display: flex;
  }

  .bjenuine-text-header {
    display: none;
  }

  .sect-lft-dwn {
    align-content: center;
  }

  .section-left {
    grid-template-rows: 1fr;
    width: 100%;
  }

  .srd-link-Icons {
    width: 25px;
  }
}

@media (max-width: 740px) {
  .sect-mid-nav {
    grid-template-columns: 3fr 1fr;
  }

  .searchBar-InputField {
    width: 70%;
  }

  .bjenuine-text-mediaQuery {
    font-size: 20px;
    align-self: center;
  }
}

@media (max-width: 650px) {
  .chSlctd-row-2 {
    flex-direction: column;
    row-gap: 20px;
  }

  .chSltd-row2-chDtls {
    margin-top: 10px;
  }

  .chSlctd-row-1 {
    display: none;
  }

  .chSlctd-row1-banner {
    display: none;
  }

  .sect-midHead-chCatgs {
    align-items: start;
    align-self: start;
  }

  .sect-midHead-chCatgs-hr {
    display: none;
    /* width: 50%;
    padding-left: 20px; */
  }

  .sect-midHead-chCatgs button {
    display: none;
  }

  .sect-mid-header {
    flex-direction: row;
  }

  .chCatgs-moreOptsIcon {
    display: flex;
  }
}

@media (max-width: 600px) {
  .sect-mid-nav {
    grid-template-columns: 3fr 1fr;
  }

  .srd-link-Icons {
    width: 20px;
  }

  .section-right {
    width: 65px;
  }

  .updts-row-ctntcntnrs {
    padding: 0;
  }

  .updts-cntnrType-ceo {
    padding: 20px;
  }

  .updts-rows {
    padding: 15px;
  }

  .updts-tp-sprvsr-head,
  .updts-tp-bjnTm-head {
    padding-left: 10px;
  }

  .ntfc-cntnrType-vdo {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .ntfc-tp-vdo-dtls-heading {
    font-size: 1rem;
  }
}
