<img src="{%PLLST_PRVW-THUMB%}" class="recomPllst-Prvw-thumb" />
<div class="recomPllst-Prvw-head_N_des">
  <h4 class="recomPllst-Prvw-title">{%PLLST_PRVWSLCT-TITLE%}</h4>
  <h5 class="recomPllst-Prvw-description">{%PLLST_PRVWSLCT-DESCRIPTION%}</h5>
</div>
<div class="recomPllstPrvw-ctnt-includeList">
  <div
    class="recomPllstPrvw-ctntList-cntnrs recomPllstPrvw-ctntList-cntnrs-{%PLLST_PRVW_VDOS-INDEX%}"
  >
    <img
      src="{%PLLST_PRVWSLCT_LIST-THUMB%}"
      class="recomPllstPrvw-ctntList-cntnrs-thumbnail"
    />
    <div class="recomPllstPrvw-ctntList-cntnrs-pllstdtls">
      <h4 class="recomPllstPrvw-ctntList-cntnrs-title">
        {%PLLST_PRVWSLCT_LIST-TITLE%}
      </h4>

      <div class="recomPllstPrvw-ctntList-cntnrs-date_N_bkmark">
        <h5 class="recomPllstPrvw-ctntList-cntnrs-date">
          <span class="sect-mid-cntnrDate-day"
            >{%PLLST_PRVWSLCT_LIST-TIME-DAY%}</span
          >
          <span class="sect-mid-cntnrDate-mnth"
            >{%PLLST_PRVWSLCT_LIST-TIME-MONTH%}</span
          >
          <span class="sect-mid-cntnrDate-year"
            >{%PLLST_PRVWSLCT_LIST-TIME-YEAR%}</span
          >
        </h5>
        <button class="recomPllstPrvw-ctntList-cntnrs-btn">
          <img
            src="{%PLLST_PRVWSLCT_BOOKMARK%}"
            class="recomPllstPrvw-ctntList-cntnrs-btnIcon"
          />
        </button>
      </div>
    </div>
  </div>
</div>
