<div class="ntfc-tp-lkdcmt-cmt-accDtls">
  <img
    src="{%NOTIF_CMNT-LIKED_ACC-IMG%}"
    height="30px"
    class="ntfc-tp-lkdcmt-cmt-accImg"
  />
  <div class="ntfc-tp-lkdcmt-cmt-accName_N_time">
    <h2 class="ntfc-tp-lkdcmt-cmt-accName">{%NOTIF_CMNT-LIKED_ACC-NAME%}</h2>
    <div class="ntfc-tp-lkdcmt-accTime">{%NOTIF_CMNT-LIKED_ACC-TIME%}</div>
  </div>
</div>
<h4 class="ntfc-tp-lkdcmt-cmt-textCmnt">
  <span class="ntfc-tp-lkdcmt-cmt-textCmnt-lkdMsg">
    👍 Liked Your Comment:
  </span>
  {%NOTIF_CMNT-LIKED_TEXT%}
</h4>
