* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
  color: #fff;
}

body {
  background-color: #202020;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #202020;
}

body::-webkit-scrollbar-track {
  margin: 10px;
}

body::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #fff;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: max-content 6fr 0.5fr;
}

.section-left {
  display: grid;
  grid-template-rows: 60px 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
  /* justify-content: center; */
  /* align-items: start; */
  background-color: rgba(61, 61, 61, 0.3);
  border-right: 1px solid #787878;

  overflow-y: hidden;
  height: 100vh;
  top: 0;
  position: sticky;
}

.sect-lft-up {
  display: flex;
  justify-self: start;
  align-self: center;
  padding-left: 20px;
  font-weight: 900;
  cursor: pointer;
}

.sect-lft-dwn {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}

.sect-lft-dwn-links {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.sect-lft-dwn-links:hover {
  background-color: #383838;
  cursor: pointer;
}

.srd-link-Icons {
  width: 20px;
  filter: invert();
}

.srd-link-lockIcon {
  width: 18px;
}

.srd-link-texts {
  font-size: 16px;
  font-weight: 900;
}

.bjenuine-text-header {
  font-size: 24px;
}

/* ///////////////////////////////// SECTION MIDDLE /////////////////////////////////// */

.section-middle {
  display: flex;
  flex-direction: column;
}

.sect-mid-nav {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: #202020;
  z-index: 1000;
}

.nav-search {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.searchBar-container {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
}

.searchBar-InputField {
  width: 60%;
  height: 45px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(120, 120, 120, 0.5);
  background: rgba(60, 60, 60, 0.3);
  outline: none;
  padding: 10px;
}

/* .searchBar-InputField::placeholder {
} */

.searchBar-InputField[type="text"] {
  font-family: montserrat;
  font-weight: 600;
}

.searchBar-voiceSearch {
  align-self: center;
  /* padding-top: 5px; */
  height: 20px;
  filter: invert();
}

.nav-sort-length,
.nav-sort-date {
  height: 100%;
}

.nav-sort-length-img,
.nav-sort-date-img {
  height: 20px;
  filter: invert();
}

.nav-sort-length-img:hover,
.nav-sort-date-img:hover,
.category-bookmark-icon:hover,
.searchBar-voiceSearch:hover {
  cursor: pointer;
}

.bjenuine-text-mediaQuery {
  display: none;
  font-weight: 900;
}

.searchBar-keywordContainer {
  background-color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.searchBar-keywordBox {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  color: #202020;
}

.searchBar-keywords {
  color: #3c3c3c;
  font-size: 12px;
}

/* ///////////////////////////////////// nav-category_n_bookmark ////////////////////////////////// */

.nav-cat_N_sort {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.nav-cat-kit_n_bookmark,
.nav-slctvKit {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  height: max-content;
}

.category-select,
.nav-slctvKit-select {
  display: flex;
  height: 40px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  background: #fff;
  column-gap: 15px;
  align-items: center;
}

.nav-slctvKit-select {
  background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.5);
}

.category-select:hover,
.nav-slctvKit-select {
  cursor: pointer;
}

.category-select-text,
.nav-slctvKit-select-text {
  color: #202020;
  font-family: Lexend Giga;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.nav-slctvKit-select-text {
  color: #fff;
}

.category-select-dwnIcon,
.nav-slctvKit-select-dwnIcon {
  align-self: center;
  /* padding-top: 4px; */
  height: 20px;
}

.nav-slctvKit-select-dwnIcon {
  filter: invert();
}

.category-bookmark-icon,
.nav-slctvKit-bookmark-icon {
  filter: invert();
  height: 20px;
}

.nav-slctvKit-bookmark-icon:hover {
  cursor: pointer;
}

.nav-sort {
  display: flex;
  column-gap: 30px;
  justify-self: end;
  padding-right: 30px;
  height: max-content;
  align-items: center;
}

.nav-sort-age {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.age-toggleContainer {
  display: flex;
  width: 60px;
  height: 25px;
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
}

.ageToggler {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  margin-left: 5px;
  background-color: #3c3c3c;
}

/* /////////////////////////////////////////// section-right /////////////////////////////////// */

.section-right {
  display: grid;
  /* grid-template-rows: 150px 1fr 100px; */
  background-color: rgb(60, 60, 60, 0.3);
  width: 75px;
  height: 90vh;
  position: sticky;
  top: 40px;

  /* align-self: center; */
  justify-content: center;
  border-radius: 30px 0px 0px 30px;
  border: 1px solid rgba(120, 120, 120, 0.5);
  background: rgba(61, 61, 61, 0.3);
}

.sect-rgt-icons {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 2.8rem;
  /* grid-template-rows: 130px 4fr 80px; */
  justify-items: center;
  align-self: center;
  justify-content: center;
  /* align-items: center; */
}

.sect-rgt-icon-list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  row-gap: 10px;
}

.sect-rgt-icons-imgs {
  width: 20px;
  filter: invert();
}

.sect-rgt-icon-list-container {
  padding: 1.1rem;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease-in-out;
}

.sect-rgt-icon-list-container:hover {
  cursor: pointer;
  background-color: rgb(60, 60, 60, 0.5);
  border-radius: 10px;
}

.sect-rgt-icon-1 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: end;
  align-items: center;
  /* width: 25px; */
}

.sect-rgt-icon-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

/* //////////////////////////////// sect-mid-contentContainer ////////////////////////////////////////// */
.sect-mid-contentContainer {
  display: flex;
  flex-direction: column;
  padding: 80px;
  padding-top: 30px;
  width: 100%;
  column-gap: 40px;
  row-gap: 1.5rem;
}

.sect-mid-header {
  display: flex;
  flex-direction: column;
}

.sect-mid-h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.sect-mid-h5 {
  font-size: 1rem;
  font-weight: 800;
}

.sect-mid-merchandise {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5rem;
  /* padding: 50px; */
}

.sect-mid-merchDtls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

/* /////////////////////////////////////// mrchDtls-catg-1 //////////////////////////////// */
.mrchDtls-catg-1 {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.mrchDtls-catg-h3 {
  font-size: 1.6rem;
  font-weight: 900;
}

.mrchDtls-catg-select {
  height: 2.5rem;
  width: 100%;
  background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.5);
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-weight: 900;
  font-family: montserrat;
  text-transform: uppercase;
  padding-left: 10px;
  position: relative;
  font-size: 1.2rem;
}

.catg-select-opts {
  position: absolute;
  background-color: #2b2b2b;
  border: 1px solid rgb(120, 120, 120, 0.5);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.6rem;
}

.opts-dsabledSlctd-head,
.opts-dsabledSlctd-footer {
  display: none;
}

.opts-dsabledSlctd {
  background-color: #2b2b2b;
  color: rgb(120, 120, 120, 0.3);
  font-size: 1rem;
}

/* /////////////////////////////// mrchDtls-catg-2 /////////////////////////// */
.mrchDtls-catg-2 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 10px;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.catg2-heading {
  display: flex;
  flex-direction: column;
}

.catg2-mainHead {
  font-size: 1.2rem;
  font-weight: 900;
}

.catg2-subHead {
  font-size: 0.75rem;
  font-weight: 500;
}

.catg2-labelInput {
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(60, 60, 60, 0.3);
  border-radius: 10px;
  border: 1px solid rgb(120, 120, 120, 0.5);
}

.mrchDtls-catg2-label {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.catg2-uploadImg {
  filter: invert();
}

/* ////////////////////////////////// mrchDtls-catg-3 ///////////////////////////// */
.mrchDtls-catg-3 {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  row-gap: 10px;
}

.mrchDtls-catg3_h3 {
  font-size: 1.6rem;
  font-weight: 900;
}

.mrchDtls-catg_egs {
  font-size: 1rem;
  font-weight: 600;
}

.mrchDtls-catg3-textArea {
  background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.5);
  border-radius: 10px;
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
}

.mrchDtls-catg3_btns {
  display: flex;
  width: 100%;
  height: 2.5rem;
  column-gap: 10px;
}

.catg3_btnDraft {
  font-size: 1rem;
  width: 10rem;
  background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.5);
  border-radius: 5px;
  font-weight: 800;
}

.catg3_btnCart {
  display: flex;
  background-color: rgb(60, 60, 60, 0.3);
  border: 1px solid rgb(120, 120, 120, 0.5);
  border-radius: 5px;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
}

.catg3_btnCart-img {
  filter: invert();
  height: 15px;
}

.catg3_btnDraft:hover,
.catg3_btnCart:hover {
  cursor: pointer;
}

/* ///////////////////// sect-mid-merchPrvw /////////////////// */
.sect-mid-merchPrvw {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.mrchPrvw-imgbox {
  width: 100%;
}

.mrchPrvw-img {
  width: 100%;
}

.mrchPrvw-upldDtls_N_gllryBtn {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.mrchPrvw-upldDtls-h5 {
  font-size: 1rem;
  font-weight: 700;
}

.mrchPrvw-upldDtls-h5 span {
  font-weight: 500;
}

.mrchPrvw-gllryDots-list {
  display: flex;
}

.mrchPrvw-name_N_des {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.mrchPrvw-name {
  font-size: 1.6rem;
  font-weight: 900;
}

.mrchPrvw-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
