<section class="sect-mid-playlist-details">
  <section class="sect-mid-pllst-container">
    <section class="sect-mid-playList-index">
      <div class="sect-midPllst-header">
        <h4 class="sect-midPllst-heading">Playlist</h4>
        <div class="sect-midPllst-add_N_Remove">
          <button class="sect-midPllst-addBtn">Add</button>
          <button class="sect-midPllst-removeBtn">Remove</button>
        </div>
      </div>
      <div class="pllst-container-list">{%PLLST_CTNT_CNTNR%}</div>
    </section>

    <section class="sect-mid-playList-preview">{%PLLST_PRVW-TEMP%}</section>
  </section>

  <section class="sect-mid-playlist-vdoRecom">
    <div class="pllst-vdoRecom-head">
      <h4 class="pllst-vdoRecom-head-text">
        RELEVANT POSTS THAT YOU CAN ADD TO YOUR PLAYLIST
      </h4>
      <button class="pllst-vdoRecom-head-btn">
        Search For Public Playlists
      </button>
    </div>
    <div class="pllst-vdoRecom-ctntContainer">{%PLLST_VDO-CNTNR_RECOM%}</div>
  </section>
</section>

<section class="sect-mid-recomPllst-list">
  <section class="sect-mid-recomPllst-index">
    <div class="sect-mid-recomPllst-header">
      <h4 class="sect-mid-recomPllst-heading">Playlist</h4>
      <div class="sect-mid-recomPllst-add_N_Remove">
        <button class="sect-mid-recomPllst-addBtn">Add</button>
        <button class="sect-mid-recomPllst-removeBtn">Remove</button>
      </div>
    </div>
    <div class="sect-mid-recomPllst-containersList">{%PLLST-CNTNR-RECOM-TEMP%}</div>
  </section>

  <section class="sect-mid-recomPllst-preview">{%PLLST_PRVW_RECOM-TEMP%}</section>
</section>
