<section class="sect-mid-rows sect-mid-row-1">
  <!-- <img src="{%CHPG_CH_BANNER%}" width="100%" /> -->
</section>
<section class="sect-mid-rows sect-mid-row-2">
  <section class="sect-mid-chDetails">
    <section class="sect-mid-logo">
      <!-- <img src="{%CHPG_CH_LOGO%}" class="sect-mid-logo-img" /> -->
    </section>
    <section class="sect-mid-accDetails">
      <div class="sect-mid-accDtls-h4s">
        <h4 class="sect-mid-accDtls-chName">{%CHPG_NAME%}</h4>
        <h4 class="sect-mid-accDtls-subsCount">
          {%CHPG_SUBS_COUNT%} Subscribers
        </h4>
      </div>
      <div class="sect-mid-accDtls-subsBtn">
        <button class="sect-mid-accDtls-subscribe">Subscribe</button>
        <button class="sect-mid-accDtls-notification">
          <!-- <img
            src="{%CHPG_CH_ICON-NOTIF%}"
            height="30px"
            class="sect-mid-accDtls-notify-icon"
          /> -->
        </button>
      </div>
    </section>
    <section class="sect-mid-awards">
      <!-- <img src="{%CHPG_CH_VERIFIED%}" class="sect-mid-awards-tick" />
      <img src="{%CHPG_CH_SERVICES%}" class="sect-mid-awards-services" /> -->
    </section>
  </section>
  <div class="sect-mid-sorting-list">
    <div class="sect-mid-sortings sect-mid-sorting-1">
      <!-- <img src="{%CHPG_CH_POPULARITY%}" /> -->
    </div>
    <div class="sect-mid-sortings sect-mid-sorting-2">
      <div class="sect-mid-sort-old">
        <h3>OLD</h3>
      </div>
      <div class="sect-mid-sort-new">
        <h3>NEW</h3>
      </div>
    </div>
    <div class="sect-mid-sortings sect-mid-sorting-3">
      <!-- <img src="{%CHPG_VDO-SORT_GUD-TO-BEST%}" /> -->
    </div>
    <div class="sect-mid-sortings sect-mid-sorting-4">
      <!-- <img src="{%CHPG_VDO-SORT_LENGTH%}" /> -->
    </div>
    <div class="sect-mid-sortings sect-mid-sorting-5">
      <!-- <img src="{%CHPG_VDO-SORT_AGE%}" /> -->
    </div>
    <div class="sect-mid-sortings sect-mid-sorting-6">
      <img src="{%CHPG_VDO-SORT_DATE%}" />
    </div>
    <div class="sect-mid-sortings sect-mid-sorting-search">
      <img src="{%CHPG_VDO-SORT_SEARCH%}" />
    </div>
  </div>
</section>
<section class="sect-mid-rows sect-mid-row-3">
  <section class="sect-mid-ctnt-nav">
    <div class="ctnt-nav-items ctnt-nav-item-1">
      <img
        src="{%MIDLEFTNAV_HOME%}"
        class="ctnt-nav-items-icon ctnt-nav-item-home"
      />
    </div>
    <div class="ctnt-nav-items ctnt-nav-item-2">
      <img
        src="{%MIDLEFTNAV_VDOICON%}"
        class="ctnt-nav-items-icon ctnt-nav-item-vdoIcon"
      />
    </div>
    <div class="ctnt-nav-items ctnt-nav-item-3">
      <img
        src="{%MIDLEFTNAV_STORY%}"
        class="ctnt-nav-items-icon ctnt-nav-item-story"
      />
    </div>
    <div class="ctnt-nav-items ctnt-nav-item-4">
      <img
        src="{%MIDLEFTNAV_GEM%}"
        class="ctnt-nav-items-icon ctnt-nav-item-gem"
      />
    </div>
    <div class="ctnt-nav-items ctnt-nav-item-5">
      <img
        src="{%MIDLEFTNAV_GROUPDISCUSSION%}"
        class="ctnt-nav-items-icon ctnt-nav-item-grpCht"
      />
    </div>
    <div class="ctnt-nav-items ctnt-nav-item-6">
      <img
        src="{%MIDLEFTNAV_ABOUT%}"
        class="ctnt-nav-items-icon ctnt-nav-item-about"
      />
    </div>
    <div class="ctnt-nav-items ctnt-nav-item-7">
      <img
        src="{%MIDLEFTNAV_SERVICES}"
        class="ctnt-nav-items-icon ctnt-nav-item-services"
      />
    </div>
  </section>
  <section class="sect-mid-ctnt-vdos">{%CHANNEL_VIDEOCARD%}</section>
</section>
