<div class="resultContent-box">
  <div class="thumb_N_date_views">
    <img src="{%SEARCH_VDO_THUMB%}" class="thumbnail-img" />
    <div class="date_N_views">
      <h4><span>{%SEARCH_VDO_VIEWS%}</span> Views</h4>
      <hr
        style="
          height: 4px;
          width: 30px;
          align-self: center;
          background-color: #fff;
        "
        class="hr-date_N_views"
      />
      <h4><span>{%SEARCH_VDO_TIME%}</span><span> Hours</span> Ago</h4>
    </div>
  </div>
  <div class="title_N_description">
    <h2 class="content-title">{%SEARCH_VDO_TITLE%}</h2>
    <p class="content-description">{%SEARCH_VDO_DESCRIPTION%}</p>
    <div class="channel_details">
      <img
        src="{%SEARCH_VDO-CHANNEL_LOGO%}"
        height="25px"
        class="channel-logo"
      />
      <h4 class="channel-name">{%SEARCH_VDO-CHANNEL_NAME%}</h4>
    </div>
  </div>
</div>
