<div class="sect-mid-header">
  <h1 class="sect-mid-h1">MERCHANDISE</h1>
  <h5 class="sect-mid-h5">{%MRCHDS_ACC-NAME%}</h5>
</div>
<div class="sect-mid-merchandise">
  <div class="sect-mid-merchDtls">{%MRCHDS-CATGS-TEMP%}</div>
  <div class="sect-mid-merchPrvw">
    <div class="mrchPrvw-imgbox">
      <img src="{%MRCHDS_PRVW-IMG%}" class="mrchPrvw-img" />
    </div>
    <div class="mrchPrvw-upldDtls_N_gllryBtn">
      <h5 class="mrchPrvw-upldDtls-h5">
        Published Date:
        <span class="upldDtls-day">{%MRCHDS_TIME-DAY%}</span>
        <span class="upldDtls-month">{%MRCHDS_TIME-MONTH%}</span>
        <span class="upldDtls-year">{%MRCHDS_TIME-YEAR%}</span>
      </h5>
      <div class="mrchPrvw-gllryDots-list">
        <div class="gllryDots gllryDot-1">-</div>
        <div class="gllryDots gllryDot-2">-</div>
        <div class="gllryDots gllryDot-3">-</div>
        <div class="gllryDots gllryDot-4">-</div>
        <div class="gllryDots gllryDot-5">-</div>
      </div>
    </div>
    <div class="mrchPrvw-name_N_des">
      <h2 class="mrchPrvw-name">{%MRCHDS_PRDCT-NAME%}</h2>
      <h4 class="mrchPrvw-description">{%MRCHDS_PRDCT-DESCRIPTION%}</h4>
    </div>
  </div>
</div>
