<div class="sectMid-contentPreview-up">
  <section class="preview-channel-details">
    <img
      src="{%SEARCH_VDO-PRVW-CH_LOGO%}"
      height="30px"
      class="prev-channel-logo"
    />
    <div class="channelName_N_subsCount">
      <h4 class="prev-channelName">{%SEARCH_VDO-PRVW-CH_NAME%}</h4>
      <h5 class="prev-channelsubsCount">
        {%SRCH_VDO-PRVW-CH_SUBS-COUNT%} Subscriber
      </h5>
    </div>
    <div class="prev-channelSubsContainer">
      <button class="prev-channelSubsBtn">Subscribe</button>
      <img
        src="imgs/Right Section/Notifications Icon.png"
        height="30px"
        class="prev-channelSubsBell"
      />
    </div>
  </section>
  <section class="preview-channel-thumb">
    <img src="{%SEARCH_VDO-PRVW-VDO_THUMB%}" class="preview-thumbnail" />
  </section>
  <section class="preview-channel-title_N_description">
    <h4 class="prev-content-title">{%SEARCH_VDO-PRVW-VDO_TITLE%}</h4>
    <p class="prev-content-description">{%SEARCH_VDO-PRVW-VDO_DESCRIPTION%}</p>
  </section>
</div>
