<div
  class="recomPllst-containers recomPllst-container-{%PLLST_PLLSTRECOM_INDEX%}"
>
  <img src="{%PLLST_PLLSTRECOM_THUMB%}" class="sect-mid-recomPllst-thumbnail" />
  <div class="sect-mid-recomPllst-pllstdtls">
    <h4 class="recomPllst-container-title">{%PLLST_PLLSTRECOM_TITLE%}</h4>
    <h5 class="recomPllst-container-description">
      {%PLLST_PLLSTRECOM_DESCRIPTION%}
    </h5>
    <div class="recomPllst-date_N_bkmark">
      <h5 class="recomPllst-cntnr-date">
        <span class="sect-mid-cntnrDate-day"
          >{%PLLST_PLLSTRECOM_TIME-DAY%}</span
        >
        <span class="sect-mid-cntnrDate-mnth"
          >{%PLLST_PLLSTRECOM_TIME-MONTH%}</span
        >
        <span class="sect-mid-cntnrDate-year"
          >{%PLLST_PLLSTRECOM_TIME-YEAR%}</span
        >
      </h5>
      <button class="recomPllst-cntnr-btn">
        <img
          src="{%PLLST_PLLSTRECOM_BOOKMARK%}"
          class="recomPllst-cntnr-btnIcon"
        />
      </button>
    </div>
  </div>
</div>
