@media (max-width: 1350px) {
  html {
    font-size: 14px;
  }

  .sect-mid-nav {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 12px;
  }

  .nav-cat_N_sort {
    flex-direction: column;
    text-align: start;
    align-items: center;
  }

  .notif-srchInput,
  .updts-srchInput {
    max-width: 70%;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1050px) {
  .notif-srchInput,
  .updts-srchInput {
    max-width: 80%;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 16px;
  }

  .nav-sort,
  .searchBar-keywordBox {
    display: none;
  }

  .notif-srchInput,
  .updts-srchInput {
    max-width: 100%;
  }

  .sect-mid-contentContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
  }

  .ntfc-row-3 {
    max-height: 700px;
  }
}

@media (max-width: 800px) {
  .srd-link-texts,
  .nav-cat_N_sort {
    display: none;
  }

  .sect-mid-nav {
    grid-template-columns: 2fr 1fr;
  }

  .bjenuine-text-mediaQuery {
    display: flex;
  }

  .bjenuine-text-header {
    display: none;
  }

  .sect-lft-dwn {
    align-content: center;
  }

  .section-left {
    grid-template-rows: 1fr;
    width: 100%;
  }

  .srd-link-Icons {
    width: 25px;
  }
}

@media (max-width: 740px) {
  .sect-mid-nav {
    grid-template-columns: 3fr 1fr;
  }

  .searchBar-InputField {
    width: 70%;
  }

  .bjenuine-text-mediaQuery {
    font-size: 20px;
    align-self: center;
  }

  .ntfc-tp-vdo-dtls-heading {
    font-size: 1rem;
  }

  .updts-tp-ceo-name,
  .updts-tp-sprvsr-name,
  .updts-tp-bjnTm-name {
    font-size: 1rem;
  }

  .updts-tp-ceoText,
  .updts-tp-sprvsrText,
  .updts-tp-bjnTmText {
    font-size: 0.8rem;
  }

  .updts-tp-ceo-pstDtls h2,
  .updts-tp-sprvsr-pstDtls h2,
  .updts-tp-bjnTm-pstDtls h2 {
    font-size: 0.8rem;
  }

  .updts-tp-ceo-msgParagraphs,
  .updts-tp-sprvsr-msgParagraphs,
  .updts-tp-bjnTm-msgParagraphs {
    font-size: 0.8rem;
  }
}

@media (max-width: 650px) {
  .updts-tp-ceo-name,
  .updts-tp-sprvsr-name,
  .updts-tp-bjnTm-name {
    font-size: 0.8rem;
  }

  .updts-tp-ceoText,
  .updts-tp-sprvsrText,
  .updts-tp-bjnTmText {
    font-size: 0.75rem;
  }

  .updts-tp-ceo-pstDtls h2,
  .updts-tp-sprvsr-pstDtls h2,
  .updts-tp-bjnTm-pstDtls h2 {
    font-size: 0.75rem;
  }

  .updts-tp-ceo-msgParagraphs,
  .updts-tp-sprvsr-msgParagraphs,
  .updts-tp-bjnTm-msgParagraphs {
    font-size: 0.75rem;
  }

  .updts-tp-ceo-head,
  .updts-tp-sprvsr-head,
  .updts-tp-bjnTm-head {
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    grid-template-rows: repeat(2, max-content);
    row-gap: 15px;
  }

  .updts-tp-ceo-pstDtls,
  .updts-tp-sprvsr-pstDtls,
  .updts-tp-bjnTm-pstDtls {
    align-items: start;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }

  .ntfc-row3-heading {
    font-size: 1.2rem;
  }

  .ntfc-tp-cmt-textCmnt,
  .ntfc-tp-lkdcmt-cmt-textCmnt,
  .ntfc-tp-reply-cmt-textCmnt {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .sect-mid-nav {
    grid-template-columns: 3fr 1fr;
  }

  .srd-link-Icons {
    width: 20px;
  }

  .section-right {
    width: 65px;
  }

  .updts-row-ctntcntnrs {
    padding: 0;
  }

  .updts-cntnrType-ceo {
    padding: 20px;
  }

  .updts-rows {
    padding: 15px;
  }

  .updts-tp-sprvsr-head,
  .updts-tp-bjnTm-head {
    padding-left: 10px;
  }

  .ntfc-cntnrType-vdo {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .ntfc-tp-vdo-dtls-heading {
    font-size: 1rem;
  }
}
