.sect-mid-nav {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: #1f1f1f;
  border-bottom: 0.5px solid rgba(120, 120, 120, 0.288);
  z-index: 1000000;
}

.searchBar-search-Icon {
  /* filter: invert(); */
  align-self: center;
}

.nav-search {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.searchBar-container {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
}

.searchBar-InputField {
  width: 60%;
  height: 45px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(120, 120, 120, 0.5);
  background: rgba(60, 60, 60, 0.3);
  outline: none;
  padding: 10px;
}

/* .searchBar-InputField::placeholder {
} */

.searchBar-InputField[type='text'] {
  font-family: montserrat;
  font-weight: 600;
}

.searchBar-voiceSearch {
  align-self: center;
  /* padding-top: 5px; */
  height: 20px;
  /* filter: invert(); */
}

.nav-sort-length,
.nav-sort-date {
  height: 100%;
}

.nav-sort-length-img,
.nav-sort-date-img {
  height: 20px;
  filter: invert();
}

.nav-sort-length-img:hover,
.nav-sort-date-img:hover,
.category-bookmark-icon:hover,
.searchBar-voiceSearch:hover {
  cursor: pointer;
}

.bjenuine-text-mediaQuery {
  display: none;
  font-weight: 900;
}

.searchBar-keywordContainer {
  background-color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.searchBar-keywordBox {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  color: #202020;
}

.searchBar-keywords {
  color: #3c3c3c;
  font-size: 12px;
}
