.sect-mid-contentContainer {
  display: flex;
  padding: 30px;
  justify-content: center;
  column-gap: 40px;
  row-gap: 50px;
  flex-wrap: wrap;
}

.content-containers {
  display: flex;
  flex-direction: column;
  width: 260px;
  row-gap: 10px;
  cursor: pointer;
}

.section-Header {
  display: flex;
  /* justify-content: start; */
  column-gap: 20px;
  align-items: center;
}

.sectionHead-chLogo {
  height: 35px;
  border-radius: 8px;
}

.sectionHead-dtls {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sectionHead-chName_N_sub {
  display: flex;
  flex-direction: column;
}

.sectionHead-chName {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: lexend;
}

.sectionHead-chSubCnt {
  font-size: 0.7rem;
  font-weight: 400;
}

.sectionHead-tick {
  height: 20px;
}

.sectionHead-thumbNail {
  aspect-ratio: 16 / 9;
  background-size: contain;
  border-radius: 8px;
}

.section-details {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.section-details-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 4.4rem;
  -webkit-line-clamp: 2;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1rem;
  font-weight: 300;
}

.sectionHead-views {
  font-size: 0.75rem;
  font-weight: 200;
}

.views {
  font-weight: 500;
}

.sectionHead-date {
  font-size: 0.75rem;
  font-weight: 500;
}

.sectionHead-views_N_date {
  display: flex;
  column-gap: 25px;
  justify-content: space-between;
}
