section#sect-1.section-left
  a(href="/") 
    h2.sect-lft-up.bjenuine-text-header BJenuine
  .sect-lft-dwn
    a(href="/user")
      h3.srd-link-texts.srd-link-texts-settings General
    a(href="/upload")
      h3.srd-link-texts.srd-link-texts-settings Upload Video
    a(href="/all-uploads")
      h3.srd-link-texts.srd-link-texts-settings All Videos
    a(href="/channel-settings")
      h3.srd-link-texts.srd-link-texts-settings Channel Settings
    //- a(href="/marketplace")
    a(href="/tokens")
      h3.srd-link-texts.srd-link-texts-settings Tokens
    //- a(href="/apps")
    h3.srd-link-texts.srd-link-texts-settings Applications
    //- a(href="/lock")
    h3.srd-link-texts.srd-link-texts-settings Lock
    //- a(href="/themes")
    h3.srd-link-texts.srd-link-texts-settings Themes
    h3.srd-link-texts.srd-link-texts-settings Language