section#sect-1.section-left
  a(href="/") 
    img(src="https://wereform-imgs.s3.amazonaws.com/begenone-white-transparent-logo.svg", alt="").sect-lft-up.bjenuine-text-header
  .sect-lft-dwn
    a(href="/user")
      h3.srd-link-texts.srd-link-texts-general General
    a(href="/upload")
      h3.srd-link-texts.srd-link-texts-upload Upload Video
    a(href="/all-uploads")
      h3.srd-link-texts.srd-link-texts-allVideos All Videos
    a(href="/channel-settings")
      h3.srd-link-texts.srd-link-texts-chSettings Channel Settings
    //- a(href="/marketplace")
    a(href="/tokens")
      h3.srd-link-texts.srd-link-texts-tokens Tokens
    //- a(href="/apps")
    h3.srd-link-texts.srd-link-texts-apps Applications
    //- a(href="/lock")
    h3.srd-link-texts.srd-link-texts-lock Lock
    //- a(href="/themes")
    h3.srd-link-texts.srd-link-texts-themes Themes
    h3.srd-link-texts.srd-link-texts-language Language