section#sect-1.section-left
  a(href="/") 
    img(src="https://begenone-images.s3.us-east-1.amazonaws.com/begenone-white-transparent-logo-beta-min.png", alt="").sect-lft-up.bjenuine-text-header
  .sect-lft-dwn
    a(href="/user")
      h3.srd-link-texts.srd-link-texts-general General
    - const url = (userData && userData.channel) ? '/upload' : '/channel-settings';
    a(href=`${url}`)
      h3.srd-link-texts.srd-link-texts-upload Upload Video
    a(href="/all-uploads")
      h3.srd-link-texts.srd-link-texts-allVideos All Videos
    a(href="/channel-settings")
      h3.srd-link-texts.srd-link-texts-chSettings Channel Settings
    //- a(href="/marketplace")
    a(href="/pricings")
      h3.srd-link-texts.srd-link-texts-pricing Pricing
    - const portal = `https://billing.stripe.com/p/login/test_cN2dT5dzY46r58s7ss`
    
    if subscriptionStatus
      a(href=`${portal}`)
        h3.srd-link-texts.srd-link-texts-pricing 
          | Subscription Portal <sup class="actual-pricing" style="font-size: .8rem; color:rgb(255, 0, 0); font-weight: 900;">NEW</sup>
    //- a(href="/apps")
    //- h3.srd-link-texts.srd-link-texts-apps Applications
    //- //- a(href="/lock")
    //- h3.srd-link-texts.srd-link-texts-lock Lock
    //- //- a(href="/themes")
    //- h3.srd-link-texts.srd-link-texts-themes Themes
    //- h3.srd-link-texts.srd-link-texts-language Language