extends ../../../main/base

block append head
  link(rel='stylesheet', href='/css/upload.css')
  link(rel='stylesheet', href='/css/uploadMediaQueries.css')
  link(href='https://releases.transloadit.com/uppy/v3.21.0/uppy.min.css', rel='stylesheet')

block content
  form#videoUploadForm.sect-mid-contentContainer
    if userActiveStatus === false
      .userActiveStatusCheckContainer
        h1.userActiveStatus-h1
          | User is not Authorized. Please Activate your account to start uploading. ❌
        button.userReverifyLinkBtn
          | Verify Here.
    else
      if canUpload
        h1.upload-heading UPLOAD CONTENT
        .upload_n_promote
          .ctnt-upload
            .ctnt-upload-rows.ctnt-upload-row-1
              .ctnt-file
                h4.ctnt-file-h4 CONTENT
                div#ctnt-vid-file-btn(action="#")
                button#openUppyButton-video Upload Video
              .ctnt-thumb
                h4.ctnt-thumb-h4 THUMBNAIL
                div#ctnt-thumb-file-btn
                button#openUppyButton-thumb Upload Thumbnail
            .ctnt-upload-rows.ctnt-upload-row-2
              h3.upload-title TITLE (Heading)
              input#title.upload-title-input(placeholder="Type your content's heading here..", type='text')
            .ctnt-upload-rows.ctnt-upload-row-3
              h3.upload-description Description
              textarea#description.upload-description-textarea(cols='30', rows='10')
            .ctnt-upload-rows.ctnt-upload-row-4
              button.upload-opt-kids Kids
              button.upload-opt-old Old
              input.upload-opt-tags(type='text', placeholder='Type your content related tags here')
            .ctnt-upload-rows.ctnt-upload-row-5
              .ctnt-comments
                h3 Comments
                button.ctnt-cmnt-enable Enable
                button.ctnt-cmnt-disable Disable
              .ctnt-links-in-comments
                h3 Links
                button.links-in-cmnt-enable Enable
                button.links-in-cmnt-disable Disable
              .ctnt-subs
                h3 Substitles
                button.ctnt-subs-enable Add
                button.ctnt-subs-disable History
              .ctnt-reminder
                h3 Reminder
                button.ctnt-reminder-enable GIF
                button.ctnt-reminder-disable Templates
            .ctnt-upload-rows.ctnt-upload-row-6
              .ctnt-transcript
                h3 Transcript
                button.transcript-btn-type Type
                button.transcript-btn-upload Upload
              .ctnt-playlist
                h3 Playlist
                button.playlist-btn-select Select
                button.playlist-btn-add Add
              .ctnt-download
                h3 Download
                button.download-btn-enable Enable
                button.download-btn-disable Disable
            //-
              <div class="ctnt-upload-rows ctnt-upload-row-7"></div>
              <div class="ctnt-upload-rows ctnt-upload-row-8"></div>
          .ctnt-promote
            h3 MANAGE YOUR REACH
            .ctnt-imp-pts
              h4 Impression Points
              input.ctnt-imp-points-input(type='number')
              button Exchange Points
            .ctnt-promote-settings
              h4.ctnt-promote-h4 PROMOTE
              input.ctnt-promote-input(type='text', placeholder='Input a value')
            .ctnt-upgrade-plan
              h4.ctnt-upgrade-plan-h3
                | Upgrade your plan even higher?
              button.ctnt-upgrade-plan-btn MarketPlace
            .ctnt-sponsorship
              h4.ctnt-sponsorship-h4 SPONSORSHIP
              button.ctnt-sponsorship-btn View Page
          //- input#uppyFileIDs(type='hidden', name='uppyFileIDs')
        div.submit-video-details-btn
          h4.submit-video-heading Submit Video Details: 
          button#form-submit Create Video
        p.note-footer
          i "More features are coming soon.. Stay Tuned."
      else
        .userActiveStatusCheckContainer
          h1.userActiveStatus-h1
            | You don't have the right subscription ❌
          a(href="/pricings")
            button.userGetSubscriptionLinkBtn
              | Check Pricings
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js')
  script(type="module" src="/js/upload-video.js")
  script.
    const userGetSubscriptionLinkBtn = document.querySelector('.userGetSubscriptionLinkBtn');
    userGetSubscriptionLinkBtn.addEventListener('click', function (e) {
      e.preventDefault();
    
      window.location.href = '/pricings';
    })