<div class="mrchDtls-catgories mrchDtls-catg-{%MRCHDS_CATGS-INDEX%}">
  <h3 class="mrchDtls-catg-h3">{%MRCHDS_CATG-HEADING%}</h3>
  <select name="mySelect" class="mrchDtls-catg-select">
    <option disabled selected class="opts-dsabledSlctd opts-dsabledSlctd-head">
      Select an option
    </option>
    <option disabled class="opts-dsabledSlctd">———————————</option>
    <option
      value="1"
      class="catg-select-opts catg-select-opt-{%MRCHDS_OPTS-INDEX%}"
    >
      {%MRCHDS_OPTS-TEXT%}
    </option>
    <option
      disabled
      class="opts-dsabledSlctd opts-dsabledSlctd-footer"
    ></option>
    <option disabled class="opts-dsabledSlctd">———————————</option>
  </select>
</div>
